# Database Connection

### InfluxDB Connection Token

In [2]:
DataServer={
        "url":'http://192.168.193.246:8086/',
        "token":"9nPfYPYfH3CglBSHnEJcmzRIdA7RNJ7oq3SNiufuc-Sze8u5kjf0jpmSNlgNEdCM-9B2kwjHmEgd_59475Rr5w==",
        "org":"clust"      
}

## InfluxDB client

In [8]:
from data_influx import influx_Client_v2 as influx_Client
db_client = influx_Client.influxClient(DataServer)

### Get Database List

In [50]:
db_list = db_client.get_DBList()
db_list

['air_outdoor_keti_clean',
 'farm_swine_air',
 'air_outdoor_keti',
 'weather_outdoor_keti',
 'weather_outdoor_keti_clean',
 'air_outdoor_kweather']

### Get Measurement List

In [19]:
db_name = 'farm_swine_air'

In [51]:
ms_list = db_client.measurement_list(db_name)
ms_list

['HS1', 'HS2', 'KDS1', 'KDS2', 'Sadle']

### Get Field List

In [22]:
ms_name = 'HS1'

In [24]:
field_list = db_client.get_fieldList(db_name, ms_name)
field_list

['NH3ppm', 'Humidity', 'CO2ppm', 'Temperature', 'H2Sppm']

## Get Data Function

### Get All Data

In [25]:
all_data = db_client.get_data(db_name, ms_name)
all_data

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:36:00+00:00   637.0     5.0      74.0    45.0         24.0
2020-09-10 00:38:00+00:00   360.0     2.0      74.0    37.0         24.0
2020-09-10 00:40:00+00:00   465.0     3.0      73.0    31.0         24.0
2020-09-10 00:42:00+00:00   518.0     2.0      73.0    27.0         24.0
2020-09-10 00:44:00+00:00   670.0     2.0      73.0    24.0         24.0
...                           ...     ...       ...     ...          ...
2021-04-03 19:54:00+00:00   945.0     3.0       NaN     0.0          NaN
2021-04-03 19:55:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:56:00+00:00  1111.0     2.0       NaN     0.0          NaN
2021-04-03 19:57:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:58:00+00:00   994.0     2.0       NaN     0.0          NaN

[154255 rows x 5 columns]

### Get First Time

In [26]:
first_time = db_client.get_first_time(db_name, ms_name)
first_time

Timestamp('2020-09-10 00:36:00+0000', tz='tzutc()')

### Get Last Time

In [29]:
last_time = db_client.get_last_time(db_name, ms_name)
last_time

Timestamp('2021-04-03 19:58:00+0000', tz='tzutc()')

### Get duration Data

In [32]:
start_time = "2021-01-01 00:00:00"
end_time = "2021-02-28 23:59:59"

In [34]:
data_by_time = db_client.get_data_by_time(start_time, end_time, db_name, ms_name)
data_by_time

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-01-01 00:00:00+00:00   916.0     9.0      -5.0     0.0         68.0
2021-01-01 00:02:00+00:00   907.0     5.0      -5.0     0.0         68.0
2021-01-01 00:04:00+00:00   924.0     4.0      -5.0     0.0         68.0
2021-01-01 00:06:00+00:00   919.0     6.0      -5.0     0.0         68.0
2021-01-01 00:08:00+00:00   923.0     5.0      -5.0     0.0         67.0
...                           ...     ...       ...     ...          ...
2021-02-28 23:50:00+00:00  1104.0     2.0       6.0     0.0         93.0
2021-02-28 23:52:00+00:00  1069.0     6.0       6.0     0.0         93.0
2021-02-28 23:54:00+00:00   898.0     7.0       6.0     0.0         93.0
2021-02-28 23:56:00+00:00   937.0     3.0       6.0     0.0         92.0
2021-02-28 23:58:00+00:00  1088.0     2.0       6.0     0.0         92.0

[42480 rows x 5 columns]

In [37]:
end_time = "2021-03-10 00:00:00"
days=7

In [39]:
# duration : (end_time - days) ~ last_time
data_by_days = db_client.get_data_by_days(end_time, days, db_name, ms_name)
data_by_days

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-03-03 00:00:00+00:00   969.0     8.0       0.0     1.0         91.0
2021-03-03 00:02:00+00:00   954.0     3.0       0.0     1.0         90.0
2021-03-03 00:04:00+00:00  1011.0     3.0       0.0     NaN         90.0
2021-03-03 00:06:00+00:00  1071.0     4.0       0.0     1.0         90.0
2021-03-03 00:08:00+00:00  1070.0     3.0       0.0     NaN         90.0
...                           ...     ...       ...     ...          ...
2021-04-03 19:54:00+00:00   945.0     3.0       NaN     0.0          NaN
2021-04-03 19:55:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:56:00+00:00  1111.0     2.0       NaN     0.0          NaN
2021-04-03 19:57:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:58:00+00:00   994.0     2.0       NaN     0.0          NaN

[28993 rows x 5 columns]

In [40]:
number = 3

In [52]:
# number 개수만큼 데이터 가져오기
front_by_num = db_client.get_datafront_by_num(number, db_name, ms_name)
front_by_num

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:36:00+00:00   637.0     5.0      74.0    45.0         24.0
2020-09-10 00:38:00+00:00   360.0     2.0      74.0    37.0         24.0
2020-09-10 00:40:00+00:00   465.0     3.0      73.0    31.0         24.0
2020-09-10 00:42:00+00:00   518.0     2.0      73.0    27.0         24.0
2020-09-10 00:44:00+00:00   670.0     2.0      73.0    24.0         24.0
2020-09-10 00:46:00+00:00    -1.0     NaN       NaN     NaN          NaN
2020-09-10 00:48:00+00:00    -1.0     NaN       NaN     NaN          NaN
2020-09-10 00:50:00+00:00    -1.0     NaN       NaN     NaN          NaN
2020-09-10 00:52:00+00:00    -1.0     NaN       NaN     NaN          NaN
2020-09-10 00:54:00+00:00    -1.0     NaN       NaN     NaN          NaN

In [44]:
# number 개수만큼 마지막 데이터 가져오기
end_by_num = db_client.get_dataend_by_num(number, db_name, ms_name)
end_by_num

                          CO2ppm H2Sppm Humidity NH3ppm  Temperature
time
2021-03-24 21:59:00+00:00   None   None     None   None         73.0
2021-04-03 18:27:00+00:00   None   None     None   None         96.0
2021-04-03 19:01:00+00:00   None   None     None   None         94.0

In [45]:
start_time = "2021-01-01 00:00:00"
end_time = "2021-02-01 00:00:00"
number = 10

In [46]:
# 설정한 기간 중, number 개수만큼 데이터 가져오기
data_limit_by_time = db_client.get_data_limit_by_time(start_time, end_time, number, db_name, ms_name)
data_limit_by_time

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-01-01 00:00:00+00:00   916.0     9.0      -5.0     0.0         68.0
2021-01-01 00:02:00+00:00   907.0     5.0      -5.0     0.0         68.0
2021-01-01 00:04:00+00:00   924.0     4.0      -5.0     0.0         68.0
2021-01-01 00:06:00+00:00   919.0     6.0      -5.0     0.0         68.0
2021-01-01 00:08:00+00:00   923.0     5.0      -5.0     0.0         67.0
2021-01-01 00:10:00+00:00   931.0     9.0      -5.0     0.0         67.0
2021-01-01 00:12:00+00:00   926.0     5.0      -5.0     0.0         68.0
2021-01-01 00:14:00+00:00   907.0     4.0      -5.0     0.0         68.0
2021-01-01 00:16:00+00:00   926.0     5.0      -5.0     0.0         68.0
2021-01-01 00:18:00+00:00   926.0     6.0      -5.0     0.0         68.0

In [48]:
# Data 주기
data_freq = db_client.get_freq(db_name, ms_name)
data_freq

'0 days 00:02:00'

In [49]:
# Data 개수
data_count = db_client.get_data_count(db_name, ms_name)
data_count

148098