# Database Connection

In [1]:
import pandas as pd
import sys
import os

sys.path.append("../")
sys.path.append("../..")

## InfluxDB client

In [2]:
# connect to influxdb
from clust.ingestion.influx import influx_Client_v2 as influx_Client
from setting import influx_setting_KETI as ins
"""
example setting Info: 
CLUSTDataServer2={
        "url":'http://server:8086/',
        "token":"tokenInfo",
        "org":"orgInfo"
}
"""

db_client = influx_Client.influxClient(ins.CLUSTDataServer2)

### Get Database List

In [3]:
# Get all Database List
db_list = db_client.get_DBList()
db_list

['farm_strawberry_DWQuantum',
 'air_indoor_요양원',
 'traffic_seoul_subway',
 'life_indoor_environment',
 'intData_Hs1SwineFarmWithWeatherTime',
 'air_indoor_아파트',
 'air_indoor_체육시설',
 'air_indoor_도서관',
 'energy_wind_power',
 'bio_covid_vaccinations',
 'energy_electricity_transaction',
 'weather_outdoor_keti_clean',
 'energy_water_discharge',
 'farm_strawberry_awon',
 'city_exhibition_entrance_status',
 'weather_outdoor_keti',
 'finance_korean_stock',
 'air_indoor_고등학교',
 'farm_strawberry_open_bk',
 'air_outdoor_keti_clean',
 'air_amuguna2',
 'bio_covid_infected_world',
 'farm_strawberry_DWTemp',
 'air_indoor_경로당',
 'air_indoor_유치원',
 'data_integrated_result',
 'farm_strawberry_DWIlluminance',
 'farm_strawberry_gunwi',
 'farm_strawberry_DWSoil',
 'farm_swine_air',
 'energy_solar',
 'traffic_seoul_bike',
 'traffic_public_parking',
 'energy_electronic_power',
 'bio_covid_infected_korea',
 'weather_outdoor_environment',
 'traffic_seoul_bus',
 'farm_strawberry_open',
 'air_indoor_어린이집',
 'farm_strawberry_knu',
 'air_indoor_중학교',
 'economy_stockUS_NYSE',
 'air_outdoor_kweather',
 'energy_fire_power',
 'life_additional_Info',
 'air_test123',
 'bio_action_sensors',
 'air_indoor_초등학교',
 'air_outdoor_keti',
 'farm_strawberry_DWSunshine',
 'bio_signal_kwu',
 'life_action_pattern',
 'air_amuguna3',
 'air_amuguna',
 'farm_strawberry_DWTempco2',
 'air_indoor_test']

### Get Measurement List

In [4]:
# select database
db_name = 'farm_swine_air'

In [5]:
# Get all Measurement list
ms_list = db_client.measurement_list(db_name)
ms_list

['HS1', 'HS2', 'KDS1', 'KDS2', 'Sadle']

### Get Field List

In [6]:
# select measurement
ms_name = 'HS1'

In [7]:
# get all field list of specific measurements
field_list = db_client.get_fieldList(db_name, ms_name)
field_list

['Temperature', 'H2Sppm', 'CO2ppm', 'Humidity', 'NH3ppm']

## DB MS Frequency

In [8]:
# get frequency
freq = db_client.get_freq(db_name, ms_name)

## Get Data Function

### Get All Data

In [9]:
#  Get all data of the specific mearuement, dataframe
all_data = db_client.get_data(db_name, ms_name)
all_data

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:36:00+00:00   637.0     5.0      74.0    45.0         24.0
2020-09-10 00:38:00+00:00   360.0     2.0      74.0    37.0         24.0
2020-09-10 00:40:00+00:00   465.0     3.0      73.0    31.0         24.0
2020-09-10 00:42:00+00:00   518.0     2.0      73.0    27.0         24.0
2020-09-10 00:44:00+00:00   670.0     2.0      73.0    24.0         24.0
...                           ...     ...       ...     ...          ...
2021-04-03 19:54:00+00:00   945.0     3.0       NaN     0.0          NaN
2021-04-03 19:55:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:56:00+00:00  1111.0     2.0       NaN     0.0          NaN
2021-04-03 19:57:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:58:00+00:00   994.0     2.0       NaN     0.0          NaN

[154255 rows x 5 columns]

### Get First Time

In [10]:
# Get the first data of the specific mearuement
first_time = db_client.get_first_time(db_name, ms_name)
first_time

Timestamp('2020-09-10 00:36:00+0000', tz='tzutc()')

### Get Last Time

In [11]:
# Get the last data of the specific mearuement
last_time = db_client.get_last_time(db_name, ms_name)
last_time

Timestamp('2021-04-03 19:58:00+0000', tz='tzutc()')

### Get duration Data

In [12]:
# setting time
start_time = "2021-01-01 00:00:00"
end_time = "2021-02-28 23:59:59"

In [13]:
# Get data of the specific measurement based on start-end duration
data_by_time = db_client.get_data_by_time(start_time, end_time, db_name, ms_name)
data_by_time

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-01-01 00:00:00+00:00   916.0     9.0      -5.0     0.0         68.0
2021-01-01 00:02:00+00:00   907.0     5.0      -5.0     0.0         68.0
2021-01-01 00:04:00+00:00   924.0     4.0      -5.0     0.0         68.0
2021-01-01 00:06:00+00:00   919.0     6.0      -5.0     0.0         68.0
2021-01-01 00:08:00+00:00   923.0     5.0      -5.0     0.0         67.0
...                           ...     ...       ...     ...          ...
2021-02-28 23:50:00+00:00  1104.0     2.0       6.0     0.0         93.0
2021-02-28 23:52:00+00:00  1069.0     6.0       6.0     0.0         93.0
2021-02-28 23:54:00+00:00   898.0     7.0       6.0     0.0         93.0
2021-02-28 23:56:00+00:00   937.0     3.0       6.0     0.0         92.0
2021-02-28 23:58:00+00:00  1088.0     2.0       6.0     0.0         92.0

[42480 rows x 5 columns]

In [14]:
end_time = "2021-03-10 00:00:00"
days=7

In [15]:
# Get data of the specific mearuement based on time duration (days)
# duration : (end_time - days) ~ last_time
data_by_days = db_client.get_data_by_days(end_time, days, db_name, ms_name)
data_by_days

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-03-03 00:00:00+00:00   969.0     8.0       0.0     1.0         91.0
2021-03-03 00:02:00+00:00   954.0     3.0       0.0     1.0         90.0
2021-03-03 00:04:00+00:00  1011.0     3.0       0.0     NaN         90.0
2021-03-03 00:06:00+00:00  1071.0     4.0       0.0     1.0         90.0
2021-03-03 00:08:00+00:00  1070.0     3.0       0.0     NaN         90.0
...                           ...     ...       ...     ...          ...
2021-04-03 19:54:00+00:00   945.0     3.0       NaN     0.0          NaN
2021-04-03 19:55:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:56:00+00:00  1111.0     2.0       NaN     0.0          NaN
2021-04-03 19:57:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:58:00+00:00   994.0     2.0       NaN     0.0          NaN

[28993 rows x 5 columns]

In [16]:
number = 3

In [17]:
# Get the first N number data from the specific measurement
# number 개수만큼 데이터 가져오기
front_by_num = db_client.get_datafront_by_num(number, db_name, ms_name)
front_by_num

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:36:00+00:00   637.0     5.0      74.0    45.0         24.0
2020-09-10 00:38:00+00:00   360.0     2.0      74.0    37.0         24.0
2020-09-10 00:40:00+00:00   465.0     3.0      73.0    31.0         24.0

In [18]:
# Get the last N number data from the specific measurement
# number 개수만큼 마지막 데이터 가져오기
end_by_num = db_client.get_dataend_by_num(number, db_name, ms_name)
end_by_num

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-04-03 19:53:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:54:00+00:00   945.0     3.0       NaN     0.0          NaN
2021-04-03 19:55:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:56:00+00:00  1111.0     2.0       NaN     0.0          NaN
2021-04-03 19:57:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:58:00+00:00   994.0     2.0       NaN     0.0          NaN

In [19]:
# setting time, number
start_time = "2021-01-01 00:00:00"
end_time = "2021-02-01 00:00:00"
number = 10

In [20]:
# Get the limit data of the specific mearuement based on time duration (days)
# 설정한 기간 중, number 개수만큼 데이터 가져오기
data_limit_by_time = db_client.get_data_limit_by_time(start_time, end_time, number, db_name, ms_name)
data_limit_by_time

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-01-01 00:00:00+00:00   916.0     9.0      -5.0     0.0         68.0
2021-01-01 00:02:00+00:00   907.0     5.0      -5.0     0.0         68.0
2021-01-01 00:04:00+00:00   924.0     4.0      -5.0     0.0         68.0
2021-01-01 00:06:00+00:00   919.0     6.0      -5.0     0.0         68.0
2021-01-01 00:08:00+00:00   923.0     5.0      -5.0     0.0         67.0
2021-01-01 00:10:00+00:00   931.0     9.0      -5.0     0.0         67.0
2021-01-01 00:12:00+00:00   926.0     5.0      -5.0     0.0         68.0
2021-01-01 00:14:00+00:00   907.0     4.0      -5.0     0.0         68.0
2021-01-01 00:16:00+00:00   926.0     5.0      -5.0     0.0         68.0
2021-01-01 00:18:00+00:00   926.0     6.0      -5.0     0.0         68.0

In [21]:
# Get the data count from the specific measurement
# Data 개수
data_count = db_client.get_data_count(db_name, ms_name)
data_count

148098

In [22]:
# Get data of the specific measurement based on start-end duration
# 특정 기간내의 Data 개수
data_time_count = get_data_by_time_count(start_time, end_time, bk_name, ms_name)
data_time_count

NameError: name 'get_data_by_time_count' is not defined

# Tag Method

In [ ]:
db_name  = 'finance_korean_stock'

In [ ]:
ms_list = db_client.measurement_list(db_name)
print(ms_list)

In [ ]:
ms_name = 'stock'

In [ ]:
# Get Tag List(database must have a tag keys)
tag_list = db_client.get_tagList(db_name, ms_name)
print(tag_list)

In [ ]:
# Get unique value of selected tag key
tag_key = 'company'
tag_distinct_value = db_client.get_TagValue(db_name, ms_name, tag_key)
tag_distinct_value

In [ ]:
# get all data
tag_value='GS리테일'
tag_value_data = db_client.get_data(db_name, ms_name, tag_key, tag_value)
tag_value_data[:3]

In [ ]:
tag_value_data = db_client.get_data_by_time('2020-01-01','2022-12-31',db_name, ms_name, tag_key, tag_value)
tag_value_data

# Data Write

In [ ]:
# get csv file
import pandas as pd

file_path = './exampleData/swine.csv'
data = pd.read_csv(file_path, index_col='time')

In [ ]:
data

In [ ]:
# setting database, measurement name
db_name = 'air_test123'
ms_name = 'test123'

In [ ]:
# Write data to the influxdb
db_client.write_db(db_name, ms_name, data)