JW Test Code

In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
sys.path.append("../")
sys.path.append("../..")

# Data Integration1 - Input : DataSet

## 1. Data Preparation

### Make 3 Numeric Test Data with different frequencies

In [2]:
r_0 = pd.date_range(start='1/3/2018', end= '1/05/2018', freq='10T')
r_1 = pd.date_range(start='1/2/2018', end= '1/09/2018', freq='7T')
r_2 = pd.date_range(start='1/1/2018', end= '1/07/2018', freq='3T')
data_0 = {'datetime': r_0,
          'data0':np.random.randint(0, 100, size=(len(r_0)))}
data_1 = {'datetime': r_1,
          'data1':np.random.randint(0, 100, size=(len(r_1)))}
data_2 = {'datetime': r_2,
          'data2':np.random.randint(0, 100, size=(len(r_2)))}

df0 = pd.DataFrame (data = data_0).set_index('datetime')
df1 = pd.DataFrame (data = data_1).set_index('datetime')
df2 = pd.DataFrame (data = data_2).set_index('datetime')
data_partial_numeric = {0:df0, 1:df1, 2:df2}

In [3]:
data_partial_numeric

{0:                      data0
 datetime
 2018-01-03 00:00:00     69
 2018-01-03 00:10:00     60
 2018-01-03 00:20:00     87
 2018-01-03 00:30:00     97
 2018-01-03 00:40:00     52
 ...                    ...
 2018-01-04 23:20:00     48
 2018-01-04 23:30:00     70
 2018-01-04 23:40:00     72
 2018-01-04 23:50:00     46
 2018-01-05 00:00:00     93

 [289 rows x 1 columns],
 1:                      data1
 datetime
 2018-01-02 00:00:00     47
 2018-01-02 00:07:00     43
 2018-01-02 00:14:00     88
 2018-01-02 00:21:00     19
 2018-01-02 00:28:00     62
 ...                    ...
 2018-01-08 23:32:00     45
 2018-01-08 23:39:00     78
 2018-01-08 23:46:00     89
 2018-01-08 23:53:00     38
 2018-01-09 00:00:00     55

 [1441 rows x 1 columns],
 2:                      data2
 datetime
 2018-01-01 00:00:00      6
 2018-01-01 00:03:00     33
 2018-01-01 00:06:00     35
 2018-01-01 00:09:00     51
 2018-01-01 00:12:00     53
 ...                    ...
 2018-01-06 23:48:00     35
 2018-01-06 23:51:00     28
 2018-01-06 23:54:00     63
 2018-01-06 23:57:00     97
 2018-01-07 00:00:00      3

 [2881 rows x 1 columns]}

## 2. Integration Meta

In [4]:
from clust.integration.meta import partialDataInfo
integration_duration="common"
partial_data_info = partialDataInfo.PartialData(data_partial_numeric, integration_duration)
overlap_duration = partial_data_info.column_meta['overlap_duration']
GCD = partial_data_info.partial_frequency_info['GCD']
GCDs = partial_data_info.partial_frequency_info['GCDs']

print("overlap:", overlap_duration)
print("GCD:", GCD)
print("GCDs:", GCDs)
partial_data_info.partial_frequency_info

overlap: {'start_time': Timestamp('2018-01-03 00:00:00'), 'end_time': Timestamp('2018-01-05 00:00:00')}
GCD: 60
GCDs: 60S

{'frequency_list': [600, 420, 180],
 'min_frequency': 180,
 'max_frequency': 600,
 'frequency_is_same': False,
 'average_frequency': 400.0,
 'median_frequency': 420.0,
 'GCD': 60,
 'GCDs': '60S'}

In [5]:
partial_data_info.column_meta

{'overlap_duration': {'start_time': Timestamp('2018-01-03 00:00:00'),
  'end_time': Timestamp('2018-01-05 00:00:00')},
 'column_characteristics': {'data0': {'column_name': 'data0',
   'column_frequency': Timedelta('0 days 00:10:00'),
   'column_type': dtype('int64'),
   'occurence_time': 'Continuous',
   'pointDependency': 'Yes',
   'upsampling_method': 'mean',
   'downsampling_method': 'mean'},
  'data1': {'column_name': 'data1',
   'column_frequency': Timedelta('0 days 00:07:00'),
   'column_type': dtype('int64'),
   'occurence_time': 'Continuous',
   'pointDependency': 'Yes',
   'upsampling_method': 'mean',
   'downsampling_method': 'mean'},
  'data2': {'column_name': 'data2',
   'column_frequency': Timedelta('0 days 00:03:00'),
   'column_type': dtype('int64'),
   'occurence_time': 'Continuous',
   'pointDependency': 'Yes',
   'upsampling_method': 'mean',
   'downsampling_method': 'mean'}}}

In [6]:
partial_data_info.partial_frequency_info

{'frequency_list': [600, 420, 180],
 'min_frequency': 180,
 'max_frequency': 600,
 'frequency_is_same': False,
 'average_frequency': 400.0,
 'median_frequency': 420.0,
 'GCD': 60,
 'GCDs': '60S'}

## 3. GCD에 의해서 변환한 후 합친 버젼

In [7]:
from clust.preprocessing.refinement.frequency import RefineFrequency
sameFDataSet = RefineFrequency().get_RefinedDataSetwithStaticFreq(data_partial_numeric, GCDs)
from clust.integration.meta import data_integration
data_int = data_integration.DataIntegration(sameFDataSet)
dintegrated_data = data_int.simple_integration(overlap_duration)
dintegrated_data

                     data0  data1  data2
datetime
2018-01-03 00:00:00   69.0    NaN   67.0
2018-01-03 00:01:00    NaN    NaN    NaN
2018-01-03 00:02:00    NaN   37.0    NaN
2018-01-03 00:03:00    NaN    NaN   95.0
2018-01-03 00:04:00    NaN    NaN    NaN
...                    ...    ...    ...
2018-01-04 23:56:00    NaN    NaN    NaN
2018-01-04 23:57:00    NaN    NaN   83.0
2018-01-04 23:58:00    NaN    NaN    NaN
2018-01-04 23:59:00    NaN   98.0    NaN
2018-01-05 00:00:00   93.0    NaN   35.0

[2881 rows x 3 columns]

## 4. 이렇게 안해도 될 것 같지만 여튼 integer로 변환한 버젼

In [8]:
new_dintegrated_data = dintegrated_data.copy()
new_index = (pd.to_numeric(dintegrated_data.index)/1000000000/60).astype(int)
new_index = new_index-new_index[0]
new_dintegrated_data.index = new_index
new_dintegrated_data

          data0  data1  data2
datetime
0          69.0    NaN   67.0
1           NaN    NaN    NaN
2           NaN   37.0    NaN
3           NaN    NaN   95.0
4           NaN    NaN    NaN
...         ...    ...    ...
2876        NaN    NaN    NaN
2877        NaN    NaN   83.0
2878        NaN    NaN    NaN
2879        NaN   98.0    NaN
2880       93.0    NaN   35.0

[2881 rows x 3 columns]

## 5. 고려대 Alignment Test 1

### Parameter

In [9]:
integrationParam = {
    "model": 'RNN_AE',
    "model_parameter": {
        "window_size": 10, # 모델의 input sequence 길이, int(default: 10, 범위: 0 이상 & 원래 데이터의 sequence 길이 이하)
        "emb_dim": 2, # 변환할 데이터의 차원, int(범위: 16~256)
        "num_epochs": 50, # 학습 epoch 횟수, int(범위: 1 이상, 수렴 여부 확인 후 적합하게 설정)
        "batch_size": 128, # batch 크기, int(범위: 1 이상, 컴퓨터 사양에 적합하게 설정)
        "learning_rate": 0.0001, # learning rate, float(default: 0.0001, 범위: 0.1 이하)
        "device": 'cpu' # 학습 환경, ["cuda", "cpu"] 중 선택
    }
}

### Test - getIntegratedDataSetByML 활용

In [10]:
## 현재 
from clust.integration.integrationInterface import IntegrationInterface

alignment_result = IntegrationInterface().getIntegratedDataSetByML(sameFDataSet, integrationParam, overlap_duration)

KeyError: 'sliding_size'

In [ ]:
alignment_result

In [ ]:
alignment_result.concat_emb2.plot()

# Data Integration2 - Input : DataInfo

## 고려대 Alignment Test 2

### parameter

In [ ]:
start_time = "2021-03-10 00:00:00"
end_time = "2021-04-01 00:00:00"

intDataInfo = { "db_info":[ { "db_name":"air_indoor_어린이집", "measurement":"ICW0W2100043", "start":start_time, "end":end_time },
{ "db_name":"air_indoor_체육시설", "measurement":"ICL1L2000064", "start":start_time, "end":end_time}, 
{ "db_name":"air_indoor_도서관", "measurement":"ICW0W2000087", "start":start_time, "end":end_time }
] }

In [ ]:
refine_param = {
    "removeDuplication":{"flag":False},
    "staticFrequency":{"flag":True, "frequency":""}
}
outlier_param  = {
    "certainErrorToNaN":{"flag":False},
    "unCertainErrorToNaN":{
        "flag":False
    }
}
imputation_param = {
    "serialImputation":{
        "flag":False
    }
}

process_param = {'refine_param':refine_param, 'outlier_param':outlier_param, 'imputation_param':imputation_param}

transformParam = {
    "model": 'RNN_AE',
    "model_parameter": {
        "window_size": 10, # 모델의 input sequence 길이, int(default: 10, 범위: 0 이상 & 원래 데이터의 sequence 길이 이하)
        "emb_dim": 5, # 변환할 데이터의 차원, int(범위: 16~256)
        "num_epochs": 50, # 학습 epoch 횟수, int(범위: 1 이상, 수렴 여부 확인 후 적합하게 설정)
        "batch_size": 128, # batch 크기, int(범위: 1 이상, 컴퓨터 사양에 적합하게 설정)
        "learning_rate": 0.0001, # learning rate, float(default: 0.0001, 범위: 0.1 이하)
        "device": 'cpu' # 학습 환경, ["cuda", "cpu"] 중 선택
    }
}

integration_param = {
    "granularity_sec":"",
    "transformParam":transformParam,
    "method":"ML"
}

In [ ]:
integration_param

### Test - clustIntegrationFromInfluxSource 활용

In [ ]:
from clust.integration.integrationInterface import IntegrationInterface

dataSet = IntegrationInterface().clustIntegrationFromInfluxSource(db_client, intDataInfo, process_param, integration_param )

In [ ]:
dataSet