# Import

In [1]:
import sys
import os
import datetime
import pandas as pd
sys.path.append("../")
sys.path.append("../..")

# data load
from Clust.setting import influx_setting_KETI as ins
from Clust.clust.ingestion.influx import influx_Client_v2 as influx_Client, multipleDataSets

# preprocessing
from Clust.clust.quality.NaN import clean_feature_data
from clust.preprocessing.dataPreprocessing import DataPreprocessing

# split by holiday
from Clust.clust.transformation.splitDataByCondition import holiday

# setting common parameter : influxDB instance
db_client = influx_Client.influxClient(ins.CLUSTDataServer2)

- TimeSeries를 Holiday/notHoliday 기준으로 데이터를 나누는 것을 보여준다.
- 아래 순서에 따라 테스트가 진행
    1. Input : 단일 Dataframe
    2. Input : 특정 Bucket의 Dataset
    3. Input : 특정 Bucket의 Dataset / Output : som 알고리즘 활용에 맞춰진 형태
- Holiday/notHoliday 를 나누는 모든 챕터들은 아래와 같은 진행 순서를 갖는다.
    1. Setting parameter
        - duration : 2022.02.01~2022.02.28
    2. Data Load
        - kWeather Indoor 초등학교 
    3. Data Preprocessing
        - 1min에서 10min으로 DownSampling
    4. splitDataByCondition

### 질문
Q1. split data by holiday when inputting dataframe 일 경우에 preprocessing 을 아래와 같은 요구사항으로 하기 위해서는 어떻게 진행해야할까요?
1. Freq 1 min => 10 min
2. 특정 열에 nan의 연속 개수와 총 개수에 따른 예외 처리

# 1. Split data by holiday when inputting Dataframe

## 1-1. Setting parameter

In [11]:
## 1. Freq parameter
#freq_min = 10
#timedelta_frequency_sec = datetime.timedelta(minutes= freq_min)

## 2. Nan Clean Parameter
#NanInfoForCleanData = {'type':'num', 'ConsecutiveNanLimit':3, 'totalNaNLimit':50}

## 3. Time
start_time = pd.to_datetime("2022-02-01 00:00:00")
end_time = pd.to_datetime("2022-02-28 23:59:59")

#duration = {"start_time": start_time, "end_time":end_time}

In [12]:
bucket_name ='air_indoor_초등학교'
measurement_name = "ICW0W2000025"

## 1-2. Data Load

In [13]:
data = db_client.get_data_by_time(start_time, end_time, bucket_name, measurement_name)

In [14]:
data

,in_co2,in_humi,in_noise,in_pm01,in_pm10,in_pm25,in_temp,in_voc
time,,,,,,,,
2022-02-01 00:00:00+00:00,397.0,20.0,47.0,43.0,53.0,46.0,15.5,7.0
2022-02-01 00:01:00+00:00,399.0,20.0,48.0,43.0,53.0,46.0,15.5,6.0
2022-02-01 00:02:00+00:00,407.0,20.0,48.0,43.0,53.0,46.0,15.5,6.0
2022-02-01 00:03:00+00:00,398.0,20.0,48.0,43.0,56.0,47.0,15.5,6.0
2022-02-01 00:04:00+00:00,401.0,20.0,48.0,43.0,55.0,46.0,15.5,7.0
...,...,...,...,...,...,...,...,...
2022-02-28 23:55:00+00:00,404.0,24.0,46.0,21.0,26.0,22.0,18.5,6.0
2022-02-28 23:56:00+00:00,403.0,24.0,46.0,21.0,26.0,22.0,18.5,5.0
2022-02-28 23:57:00+00:00,400.0,24.0,46.0,21.0,25.0,22.0,18.5,7.0
2022-02-28 23:58:00+00:00,403.0,24.0,46.0,21.0,26.0,22.0,18.5,6.0
2022-02-28 23:59:00+00:00,406.0,24.0,46.0,21.0,26.0,22.0,18.5,6.0

## 1-3. Data Preprocessing

In [6]:
# fill in the missing time index
refine_param = {'removeDuplication': {'flag': True} , 'staticFrequency': {'flag': True, 'frequency': None}}
data_preprocessing = DataPreprocessing().get_refinedData(data, refine_param)

## 1-4. Split Data by holiday

In [7]:
result = holiday.get_holidayCycleSet_from_dataframe(data_preprocessing)

In [8]:
result

{'holiday': [                           in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-01 00:00:00+00:00   397.0     20.0      47.0     43.0     53.0
  2022-02-01 00:01:00+00:00   399.0     20.0      48.0     43.0     53.0
  2022-02-01 00:02:00+00:00   407.0     20.0      48.0     43.0     53.0
  2022-02-01 00:03:00+00:00   398.0     20.0      48.0     43.0     56.0
  2022-02-01 00:04:00+00:00   401.0     20.0      48.0     43.0     55.0
  ...                           ...      ...       ...      ...      ...
  2022-02-01 23:55:00+00:00   395.0     21.0      46.0     49.0     56.0
  2022-02-01 23:56:00+00:00   393.0     21.0      47.0     50.0     57.0
  2022-02-01 23:57:00+00:00   398.0     21.0      47.0     50.0     57.0
  2022-02-01 23:58:00+00:00   390.0     21.0      47.0     50.0     58.0
  2022-02-01 23:59:00+00:00   397.0     21.0      47.0     50.0     58.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-01 00:00:00+00:00     46.0     15.5     7.0
  2022-02-01 00:01:00+00:00     46.0     15.5     6.0
  2022-02-01 00:02:00+00:00     46.0     15.5     6.0
  2022-02-01 00:03:00+00:00     47.0     15.5     6.0
  2022-02-01 00:04:00+00:00     46.0     15.5     7.0
  ...                            ...      ...     ...
  2022-02-01 23:55:00+00:00     51.0     14.6     5.0
  2022-02-01 23:56:00+00:00     52.0     14.6     5.0
  2022-02-01 23:57:00+00:00     52.0     14.6     6.0
  2022-02-01 23:58:00+00:00     52.0     14.6     5.0
  2022-02-01 23:59:00+00:00     52.0     14.6     4.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-02 00:00:00+00:00   392.0     21.0      47.0     50.0     58.0
  2022-02-02 00:01:00+00:00   399.0     21.0      47.0     50.0     58.0
  2022-02-02 00:02:00+00:00   396.0     21.0      46.0     50.0     58.0
  2022-02-02 00:03:00+00:00   394.0     21.0      47.0     49.0     57.0
  2022-02-02 00:04:00+00:00   399.0     21.0      47.0     49.0     56.0
  ...                           ...      ...       ...      ...      ...
  2022-02-02 23:55:00+00:00   384.0     20.0      51.0     15.0     19.0
  2022-02-02 23:56:00+00:00   379.0     20.0      49.0     16.0     19.0
  2022-02-02 23:57:00+00:00   382.0     20.0      51.0     16.0     19.0
  2022-02-02 23:58:00+00:00   380.0     20.0      48.0     16.0     18.0
  2022-02-02 23:59:00+00:00   381.0     20.0      47.0     16.0     18.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-02 00:00:00+00:00     52.0     14.6     4.0
  2022-02-02 00:01:00+00:00     52.0     14.6     4.0
  2022-02-02 00:02:00+00:00     52.0     14.6     4.0
  2022-02-02 00:03:00+00:00     51.0     14.6     5.0
  2022-02-02 00:04:00+00:00     51.0     14.6     5.0
  ...                            ...      ...     ...
  2022-02-02 23:55:00+00:00     16.0     15.1     5.0
  2022-02-02 23:56:00+00:00     17.0     15.1     7.0
  2022-02-02 23:57:00+00:00     17.0     15.1     4.0
  2022-02-02 23:58:00+00:00     16.0     15.1     6.0
  2022-02-02 23:59:00+00:00     16.0     15.1     4.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-03 00:00:00+00:00   380.0     20.0      48.0     16.0     17.0
  2022-02-03 00:01:00+00:00   384.0     20.0      49.0     16.0     17.0
  2022-02-03 00:02:00+00:00   382.0     20.0      50.0     16.0     18.0
  2022-02-03 00:03:00+00:00   384.0     20.0      49.0     16.0     18.0
  2022-02-03 00:04:00+00:00   384.0     20.0      49.0     16.0     19.0
  ...                           ...      ...       ...      ...      ...
  2022-02-03 23:55:00+00:00   399.0     19.0      47.0     14.0     17.0
  2022-02-03 23:56:00+00:00   392.0     19.0      47.0     14.0     17.0
  2022-02-03 23:57:00+00:00   394.0     19.0      47.0     14.0     16.0
  2022-02-03 23:58:00+00:00   393.0     19.0      47.0     14.0     17.0
  2022-02-03 23:59:00+00:00   406.0     19.0      47.0     14.0     18.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-03 00:00:00+00:00     16.0     15.1     5.0
  2022-02-03 00:01:00+00:00     16.0     15.1     7.0
  2022-02-03 00:02:00+00:00     16.0     15.1     5.0
  2022-02-03 00:03:00+00:00     16.0     15.1     5.0
  2022-02-03 00:04:00+00:00     17.0     15.1     4.0
  ...                            ...      ...     ...
  2022-02-03 23:55:00+00:00     15.0     15.3     6.0
  2022-02-03 23:56:00+00:00     15.0     15.3     6.0
  2022-02-03 23:57:00+00:00     14.0     15.3     5.0
  2022-02-03 23:58:00+00:00     15.0     15.3     5.0
  2022-02-03 23:59:00+00:00     15.0     15.3     6.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-04 00:00:00+00:00   395.0     19.0      47.0     13.0     16.0
  2022-02-04 00:01:00+00:00   403.0     19.0      47.0     13.0     14.0
  2022-02-04 00:02:00+00:00   396.0     19.0      47.0     13.0     14.0
  2022-02-04 00:03:00+00:00   394.0     19.0      47.0     13.0     14.0
  2022-02-04 00:04:00+00:00   393.0     19.0      47.0     14.0     16.0
  ...                           ...      ...       ...      ...      ...
  2022-02-04 23:55:00+00:00   384.0     18.0      47.0      5.0      5.0
  2022-02-04 23:56:00+00:00   378.0     18.0      47.0      5.0      5.0
  2022-02-04 23:57:00+00:00   384.0     18.0      47.0      5.0      5.0
  2022-02-04 23:58:00+00:00   382.0     18.0      47.0      5.0      6.0
  2022-02-04 23:59:00+00:00   381.0     18.0      47.0      5.0      6.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-04 00:00:00+00:00     14.0     15.3     4.0
  2022-02-04 00:01:00+00:00     13.0     15.3     6.0
  2022-02-04 00:02:00+00:00     13.0     15.3     3.0
  2022-02-04 00:03:00+00:00     13.0     15.2     5.0
  2022-02-04 00:04:00+00:00     14.0     15.3     6.0
  ...                            ...      ...     ...
  2022-02-04 23:55:00+00:00      5.0     14.6     6.0
  2022-02-04 23:56:00+00:00      5.0     14.6     5.0
  2022-02-04 23:57:00+00:00      5.0     14.6     5.0
  2022-02-04 23:58:00+00:00      5.0     14.6     4.0
  2022-02-04 23:59:00+00:00      5.0     14.6     6.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-05 00:00:00+00:00   381.0     18.0      47.0      5.0      5.0
  2022-02-05 00:01:00+00:00   381.0     18.0      47.0      5.0      5.0
  2022-02-05 00:02:00+00:00   385.0     18.0      47.0      5.0      5.0
  2022-02-05 00:03:00+00:00   382.0     18.0      47.0      5.0      5.0
  2022-02-05 00:04:00+00:00   380.0     18.0      48.0      5.0      6.0
  ...                           ...      ...       ...      ...      ...
  2022-02-05 23:55:00+00:00   365.0     17.0      47.0      4.0      5.0
  2022-02-05 23:56:00+00:00   367.0     17.0      48.0      5.0      5.0
  2022-02-05 23:57:00+00:00   371.0     17.0      47.0      5.0      6.0
  2022-02-05 23:58:00+00:00   371.0     17.0      47.0      5.0      6.0
  2022-02-05 23:59:00+00:00   374.0     17.0      47.0      5.0      6.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-05 00:00:00+00:00      5.0     14.6     4.0
  2022-02-05 00:01:00+00:00      5.0     14.6     7.0
  2022-02-05 00:02:00+00:00      5.0     14.6     6.0
  2022-02-05 00:03:00+00:00      5.0     14.6     4.0
  2022-02-05 00:04:00+00:00      5.0     14.6     6.0
  ...                            ...      ...     ...
  2022-02-05 23:55:00+00:00      4.0     14.0     7.0
  2022-02-05 23:56:00+00:00      5.0     14.0     4.0
  2022-02-05 23:57:00+00:00      5.0     14.0     5.0
  2022-02-05 23:58:00+00:00      5.0     14.0     5.0
  2022-02-05 23:59:00+00:00      5.0     14.0     7.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-06 00:00:00+00:00   371.0     17.0      48.0      5.0      5.0
  2022-02-06 00:01:00+00:00   368.0     17.0      48.0      5.0      5.0
  2022-02-06 00:02:00+00:00   372.0     17.0      48.0      5.0      5.0
  2022-02-06 00:03:00+00:00   369.0     17.0      48.0      5.0      6.0
  2022-02-06 00:04:00+00:00   371.0     17.0      48.0      5.0      6.0
  ...                           ...      ...       ...      ...      ...
  2022-02-06 23:55:00+00:00   375.0     18.0      47.0      9.0     10.0
  2022-02-06 23:56:00+00:00   377.0     18.0      47.0      9.0     10.0
  2022-02-06 23:57:00+00:00   378.0     18.0      47.0      9.0     10.0
  2022-02-06 23:58:00+00:00   369.0     18.0      47.0      9.0     10.0
  2022-02-06 23:59:00+00:00   370.0     18.0      47.0      9.0     10.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-06 00:00:00+00:00      5.0     13.9     6.0
  2022-02-06 00:01:00+00:00      5.0     14.0     5.0
  2022-02-06 00:02:00+00:00      5.0     13.9     5.0
  2022-02-06 00:03:00+00:00      5.0     13.9     3.0
  2022-02-06 00:04:00+00:00      5.0     13.9     5.0
  ...                            ...      ...     ...
  2022-02-06 23:55:00+00:00      9.0     14.2     5.0
  2022-02-06 23:56:00+00:00      9.0     14.2     9.0
  2022-02-06 23:57:00+00:00      9.0     14.2     5.0
  2022-02-06 23:58:00+00:00      9.0     14.2     4.0
  2022-02-06 23:59:00+00:00      9.0     14.2     4.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-07 00:00:00+00:00   375.0     18.0      47.0     10.0     10.0
  2022-02-07 00:01:00+00:00   373.0     18.0      47.0      9.0     10.0
  2022-02-07 00:02:00+00:00   379.0     18.0      47.0      9.0     10.0
  2022-02-07 00:03:00+00:00   377.0     18.0      47.0      9.0     10.0
  2022-02-07 00:04:00+00:00   374.0     18.0      47.0      9.0     10.0
  ...                           ...      ...       ...      ...      ...
  2022-02-07 23:55:00+00:00   393.0     19.0      49.0     18.0     22.0
  2022-02-07 23:56:00+00:00   389.0     19.0      49.0     18.0     21.0
  2022-02-07 23:57:00+00:00   385.0     19.0      49.0     18.0     22.0
  2022-02-07 23:58:00+00:00   380.0     19.0      49.0     18.0     22.0
  2022-02-07 23:59:00+00:00   391.0     19.0      49.0     18.0     22.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-07 00:00:00+00:00     10.0     14.2     3.0
  2022-02-07 00:01:00+00:00      9.0     14.2     5.0
  2022-02-07 00:02:00+00:00      9.0     14.3     4.0
  2022-02-07 00:03:00+00:00      9.0     14.2     4.0
  2022-02-07 00:04:00+00:00      9.0     14.2     6.0
  ...                            ...      ...     ...
  2022-02-07 23:55:00+00:00     19.0     14.3     7.0
  2022-02-07 23:56:00+00:00     19.0     14.3     5.0
  2022-02-07 23:57:00+00:00     19.0     14.2     7.0
  2022-02-07 23:58:00+00:00     19.0     14.3     5.0
  2022-02-07 23:59:00+00:00     19.0     14.3     8.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-08 00:00:00+00:00   391.0     19.0      50.0     18.0     21.0
  2022-02-08 00:01:00+00:00   391.0     19.0      49.0     18.0     21.0
  2022-02-08 00:02:00+00:00   393.0     19.0      50.0     18.0     20.0
  2022-02-08 00:03:00+00:00   394.0     19.0      50.0     18.0     19.0
  2022-02-08 00:04:00+00:00   391.0     19.0      50.0     18.0     20.0
  ...                           ...      ...       ...      ...      ...
  2022-02-08 23:55:00+00:00   406.0     19.0      47.0     27.0     30.0
  2022-02-08 23:56:00+00:00   403.0     19.0      47.0     27.0     29.0
  2022-02-08 23:57:00+00:00   409.0     19.0      47.0     26.0     30.0
  2022-02-08 23:58:00+00:00   399.0     19.0      47.0     27.0     30.0
  2022-02-08 23:59:00+00:00   407.0     19.0      47.0     27.0     30.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-08 00:00:00+00:00     18.0     14.3     6.0
  2022-02-08 00:01:00+00:00     19.0     14.3     5.0
  2022-02-08 00:02:00+00:00     18.0     14.3     5.0
  2022-02-08 00:03:00+00:00     18.0     14.3     4.0
  2022-02-08 00:04:00+00:00     18.0     14.3     5.0
  ...                            ...      ...     ...
  2022-02-08 23:55:00+00:00     28.0     14.8     5.0
  2022-02-08 23:56:00+00:00     27.0     14.8     7.0
  2022-02-08 23:57:00+00:00     27.0     14.8     4.0
  2022-02-08 23:58:00+00:00     28.0     14.8     7.0
  2022-02-08 23:59:00+00:00     28.0     14.8     6.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-09 00:00:00+00:00   399.0     19.0      46.0     27.0     31.0
  2022-02-09 00:01:00+00:00   406.0     19.0      47.0     27.0     33.0
  2022-02-09 00:02:00+00:00   411.0     19.0      47.0     27.0     34.0
  2022-02-09 00:03:00+00:00   410.0     19.0      47.0     26.0     32.0
  2022-02-09 00:04:00+00:00   408.0     19.0      47.0     26.0     31.0
  ...                           ...      ...       ...      ...      ...
  2022-02-09 23:55:00+00:00   390.0     19.0      47.0     27.0     31.0
  2022-02-09 23:56:00+00:00   394.0     19.0      47.0     27.0     32.0
  2022-02-09 23:57:00+00:00   392.0     19.0      47.0     28.0     33.0
  2022-02-09 23:58:00+00:00   392.0     19.0      47.0     28.0     32.0
  2022-02-09 23:59:00+00:00   392.0     19.0      47.0     27.0     30.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-09 00:00:00+00:00     28.0     14.8     6.0
  2022-02-09 00:01:00+00:00     28.0     14.8     4.0
  2022-02-09 00:02:00+00:00     29.0     14.7     5.0
  2022-02-09 00:03:00+00:00     28.0     14.8     5.0
  2022-02-09 00:04:00+00:00     27.0     14.7     5.0
  ...                            ...      ...     ...
  2022-02-09 23:55:00+00:00     28.0     16.2     5.0
  2022-02-09 23:56:00+00:00     28.0     16.2     4.0
  2022-02-09 23:57:00+00:00     29.0     16.2     3.0
  2022-02-09 23:58:00+00:00     29.0     16.2     7.0
  2022-02-09 23:59:00+00:00     28.0     16.2     5.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-10 00:00:00+00:00   390.0     19.0      47.0     27.0     31.0
  2022-02-10 00:01:00+00:00   386.0     19.0      47.0     28.0     32.0
  2022-02-10 00:02:00+00:00   389.0     19.0      47.0     28.0     32.0
  2022-02-10 00:03:00+00:00   385.0     19.0      47.0     28.0     33.0
  2022-02-10 00:04:00+00:00   391.0     19.0      47.0     28.0     32.0
  ...                           ...      ...       ...      ...      ...
  2022-02-10 23:55:00+00:00   400.0     19.0      47.0     38.0     49.0
  2022-02-10 23:56:00+00:00   398.0     19.0      47.0     38.0     49.0
  2022-02-10 23:57:00+00:00   395.0     19.0      47.0     38.0     50.0
  2022-02-10 23:58:00+00:00   403.0     19.0      47.0     38.0     52.0
  2022-02-10 23:59:00+00:00   399.0     19.0      47.0     38.0     50.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-10 00:00:00+00:00     28.0     16.2     5.0
  2022-02-10 00:01:00+00:00     29.0     16.2     4.0
  2022-02-10 00:02:00+00:00     29.0     16.2     6.0
  2022-02-10 00:03:00+00:00     29.0     16.2     5.0
  2022-02-10 00:04:00+00:00     29.0     16.2     5.0
  ...                            ...      ...     ...
  2022-02-10 23:55:00+00:00     41.0     17.1     5.0
  2022-02-10 23:56:00+00:00     41.0     17.1     6.0
  2022-02-10 23:57:00+00:00     41.0     17.1     7.0
  2022-02-10 23:58:00+00:00     42.0     17.1     5.0
  2022-02-10 23:59:00+00:00     41.0     17.1     6.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-11 00:00:00+00:00   396.0     19.0      47.0     38.0     50.0
  2022-02-11 00:01:00+00:00   398.0     19.0      47.0     38.0     50.0
  2022-02-11 00:02:00+00:00   398.0     19.0      46.0     38.0     49.0
  2022-02-11 00:03:00+00:00   393.0     19.0      47.0     38.0     48.0
  2022-02-11 00:04:00+00:00   397.0     19.0      48.0     38.0     49.0
  ...                           ...      ...       ...      ...      ...
  2022-02-11 23:55:00+00:00   413.0     20.0      48.0     60.0     70.0
  2022-02-11 23:56:00+00:00   425.0     20.0      48.0     60.0     68.0
  2022-02-11 23:57:00+00:00   421.0     20.0      48.0     60.0     68.0
  2022-02-11 23:58:00+00:00   420.0     20.0      49.0     60.0     68.0
  2022-02-11 23:59:00+00:00   428.0     20.0      48.0     60.0     67.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-11 00:00:00+00:00     41.0     17.1     6.0
  2022-02-11 00:01:00+00:00     41.0     17.1     5.0
  2022-02-11 00:02:00+00:00     41.0     17.1     6.0
  2022-02-11 00:03:00+00:00     41.0     17.1     5.0
  2022-02-11 00:04:00+00:00     41.0     17.1     6.0
  ...                            ...      ...     ...
  2022-02-11 23:55:00+00:00     63.0     17.8     7.0
  2022-02-11 23:56:00+00:00     62.0     17.8     7.0
  2022-02-11 23:57:00+00:00     62.0     17.7     7.0
  2022-02-11 23:58:00+00:00     62.0     17.8     5.0
  2022-02-11 23:59:00+00:00     62.0     17.8     6.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-12 00:00:00+00:00   427.0     20.0      48.0     60.0     68.0
  2022-02-12 00:01:00+00:00   423.0     20.0      49.0     60.0     69.0
  2022-02-12 00:02:00+00:00   422.0     20.0      49.0     60.0     69.0
  2022-02-12 00:03:00+00:00   420.0     20.0      48.0     60.0     68.0
  2022-02-12 00:04:00+00:00   421.0     20.0      48.0     60.0     68.0
  ...                           ...      ...       ...      ...      ...
  2022-02-12 23:55:00+00:00   401.0     20.0      48.0     45.0     54.0
  2022-02-12 23:56:00+00:00   399.0     20.0      48.0     46.0     55.0
  2022-02-12 23:57:00+00:00   398.0     20.0      48.0     46.0     55.0
  2022-02-12 23:58:00+00:00   400.0     20.0      48.0     46.0     54.0
  2022-02-12 23:59:00+00:00   401.0     20.0      48.0     46.0     53.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-12 00:00:00+00:00     62.0     17.7     5.0
  2022-02-12 00:01:00+00:00     62.0     17.8     5.0
  2022-02-12 00:02:00+00:00     63.0     17.7     4.0
  2022-02-12 00:03:00+00:00     62.0     17.7     4.0
  2022-02-12 00:04:00+00:00     62.0     17.8     5.0
  ...                            ...      ...     ...
  2022-02-12 23:55:00+00:00     47.0     18.6     6.0
  2022-02-12 23:56:00+00:00     48.0     18.6     7.0
  2022-02-12 23:57:00+00:00     48.0     18.6     5.0
  2022-02-12 23:58:00+00:00     48.0     18.6     6.0
  2022-02-12 23:59:00+00:00     48.0     18.6     7.0

  [1440 rows x 8 columns],
                             in_co2  in_humi  in_noise  in_pm01  in_pm10  \
  time
  2022-02-13 00:00:00+00:00   403.0     20.0      48.0     46.0     51.0
  2022-02-13 00:01:00+00:00   398.0     20.0      52.0     46.0     50.0
  2022-02-13 00:02:00+00:00   380.0     20.0      50.0     45.0     50.0
  2022-02-13 00:03:00+00:00   394.0     20.0      47.0     46.0     52.0
  2022-02-13 00:04:00+00:00   395.0     20.0      47.0     45.0     53.0
  ...                           ...      ...       ...      ...      ...
  2022-02-13 23:55:00+00:00   392.0     21.0      46.0     49.0     60.0
  2022-02-13 23:56:00+00:00   396.0     21.0      46.0     48.0     59.0
  2022-02-13 23:57:00+00:00   393.0     21.0      46.0     48.0     57.0
  2022-02-13 23:58:00+00:00   393.0     21.0      46.0     48.0     56.0
  2022-02-13 23:59:00+00:00   389.0     21.0      46.0     48.0     57.0

                             in_pm25  in_temp  in_voc
  time
  2022-02-13 00:00:00+00:00     47.0     18.6     4.0
  2022-02-13 00:01:00+00:00     47.0     18.6     5.0
  2022-02-13 00:02:00+00:00     46.0     18.6     6.0

# 2. Split data by holiday when inputting Dataset

## 2-1. Setting parameter

In [2]:
## 1. Freq parameter
freq_min = 10
timedelta_frequency_sec = datetime.timedelta(minutes= freq_min)

## 2. Nan Clean Parameter
NanInfoForCleanData = {'type':'num', 'ConsecutiveNanLimit':3, 'totalNaNLimit':50}

## 3. Time
start_time = pd.to_datetime("2022-02-01 00:00:00")
end_time = pd.to_datetime("2022-02-28 23:59:59")

duration = {"start_time": start_time, "end_time":end_time}

In [3]:
bucket_list =['air_indoor_초등학교']
new_bucket_list = ['elementarySchool']
feature_list = ['in_temp', 'in_humi', 'in_co2', 'in_voc', 'in_noise', 'in_pm10', 'in_pm25', 'in_pm01']

## 2-2. Data Load

In [4]:
dataSet = multipleDataSets.get_all_msdata_in_bucket_list(bucket_list, db_client, start_time, end_time, new_bucket_list)

air_indoor_초등학교  length: 10

## 2-3. Data Preprocessing

In [5]:
CMS = clean_feature_data.CleanFeatureData(feature_list, timedelta_frequency_sec)
dataSet, dataSetName, NaNRemovedDataSet, imputedDatasetName, imputedDataSet  = CMS.getMultipleCleanDataSetsByFeature(dataSet, NanInfoForCleanData, duration)

In [6]:
imputedDataSet

{'in_temp': [                     in_temp
  time
  2022-02-01 00:00:00      9.0
  2022-02-01 00:10:00      9.1
  2022-02-01 00:20:00      9.0
  2022-02-01 00:30:00      9.1
  2022-02-01 00:40:00      9.1
  ...                      ...
  2022-02-28 23:00:00     16.0
  2022-02-28 23:10:00     16.0
  2022-02-28 23:20:00     16.0
  2022-02-28 23:30:00     16.0
  2022-02-28 23:40:00     16.0

  [4031 rows x 1 columns],
                       in_temp
  time
  2022-02-01 00:00:00     21.9
  2022-02-01 00:10:00     21.9
  2022-02-01 00:20:00     22.0
  2022-02-01 00:30:00     22.0
  2022-02-01 00:40:00     22.0
  ...                      ...
  2022-02-28 23:00:00     24.7
  2022-02-28 23:10:00     24.6
  2022-02-28 23:20:00     24.6
  2022-02-28 23:30:00     24.6
  2022-02-28 23:40:00     24.5

  [4031 rows x 1 columns],
                       in_temp
  time
  2022-02-01 00:00:00     15.3
  2022-02-01 00:10:00     15.3
  2022-02-01 00:20:00     15.3
  2022-02-01 00:30:00     15.3
  2022-02-01 00:40:00     15.4
  ...                      ...
  2022-02-28 23:00:00     18.4
  2022-02-28 23:10:00     18.4
  2022-02-28 23:20:00     18.3
  2022-02-28 23:30:00     18.3
  2022-02-28 23:40:00     18.3

  [4031 rows x 1 columns],
                       in_temp
  time
  2022-02-01 00:00:00     15.5
  2022-02-01 00:10:00     15.5
  2022-02-01 00:20:00     15.5
  2022-02-01 00:30:00     15.5
  2022-02-01 00:40:00     15.6
  ...                      ...
  2022-02-28 23:00:00     18.6
  2022-02-28 23:10:00     18.6
  2022-02-28 23:20:00     18.5
  2022-02-28 23:30:00     18.5
  2022-02-28 23:40:00     18.5

  [4031 rows x 1 columns],
                       in_temp
  time
  2022-02-01 00:00:00     12.9
  2022-02-01 00:10:00     12.9
  2022-02-01 00:20:00     12.9
  2022-02-01 00:30:00     12.9
  2022-02-01 00:40:00     12.9
  ...                      ...
  2022-02-28 23:00:00     22.4
  2022-02-28 23:10:00     22.3
  2022-02-28 23:20:00     22.2
  2022-02-28 23:30:00     22.2
  2022-02-28 23:40:00     22.2

  [4031 rows x 1 columns],
                       in_temp
  time
  2022-02-01 00:00:00     20.0
  2022-02-01 00:10:00     20.0
  2022-02-01 00:20:00     20.0
  2022-02-01 00:30:00     20.0
  2022-02-01 00:40:00     20.1
  ...                      ...
  2022-02-28 23:00:00     22.3
  2022-02-28 23:10:00     22.2
  2022-02-28 23:20:00     22.2
  2022-02-28 23:30:00     22.1
  2022-02-28 23:40:00     22.1

  [4031 rows x 1 columns],
                       in_temp
  time
  2022-02-01 00:00:00     19.3
  2022-02-01 00:10:00     19.3
  2022-02-01 00:20:00     19.3
  2022-02-01 00:30:00     19.3
  2022-02-01 00:40:00     19.3
  ...                      ...
  2022-02-28 23:00:00     21.7
  2022-02-28 23:10:00     21.6
  2022-02-28 23:20:00     21.6
  2022-02-28 23:30:00     21.5
  2022-02-28 23:40:00     21.5

  [4031 rows x 1 columns],
                       in_temp
  time
  2022-02-01 00:00:00     19.7
  2022-02-01 00:10:00     19.7
  2022-02-01 00:20:00     19.7
  2022-02-01 00:30:00     19.7
  2022-02-01 00:40:00     19.8
  ...                      ...
  2022-02-28 23:00:00     22.5
  2022-02-28 23:10:00     22.4
  2022-02-28 23:20:00     22.3
  2022-02-28 23:30:00     22.3
  2022-02-28 23:40:00     22.3

  [4031 rows x 1 columns],
                       in_temp
  time
  2022-02-01 00:00:00      7.5
  2022-02-01 00:10:00      7.5
  2022-02-01 00:20:00      7.5
  2022-02-01 00:30:00      7.5
  2022-02-01 00:40:00      7.5
  ...                      ...
  2022-02-28 23:00:00     12.3
  2022-02-28 23:10:00     12.3
  2022-02-28 23:20:00     12.3
  2022-02-28 23:30:00     12.2
  2022-02-28 23:40:00     12.2

  [4031 rows x 1 columns]],
 'in_humi': [                     in_humi
  time
  2022-02-01 00:00:00     26.0
  2022-02-01 00:10:00     26.0
  2022-02-01 00:20:00     26.0
  2022-02-01 00:30:00     26.0
  2022-02-01 00:40:00     26.0
  ...                      ...
  2022-02-28 23:00:00     28.0
  2022-02-28 23:10:00     28.0
  2022-02-28 23:20:00     28.0
  2022-02-28 23:30:00     28.0
  2022-02-28 23:40:00     28.0

  [4031 rows x 1 columns],
                       in_humi
  time
  2022-02-01 00:00:00     17.0
  2022-02-01 00:10:00     17.0
  2022-02-01 00:20:00     17.0
  2022-02-01 00:30:00     17.0
  2022-02-01 00:40:00     17.0
  ...                      ...
  2022-02-28 23:00:00     21.0
  2022-02-28 23:10:00     21.0
  2022-02-28 23:20:00     21.0
  2022-02-28 23:30:00     21.0
  2022-02-28 23:40:00     21.0

  [4031 rows x 1 columns],
                       in_humi
  time
  2022-02-01 00:00:00     20.0
  2022-02-01 00:10:00     20.0
  2022-02-01 00:20:00     21.0
  2022-02-01 00:30:00     21.0
  2022-02-01 00:40:00     21.0
  ...                      ...
  2022-02-28 23:00:00     24.0
  2022-02-28 23:10:00     24.0
  2022-02-28 23:20:00     24.0
  2022-02-28 23:30:00     24.0
  2022-02-28 23:40:00     24.0

  [4031 rows x 1 columns],
                       in_humi
  time
  2022-02-01 00:00:00     20.0
  2022-02-01 00:10:00     20.0
  2022-02-01 00:20:00     20.0
  2022-02-01 00:30:00     20.0
  2022-02-01 00:40:00     20.0
  ...                      ...
  2022-02-28 23:00:00     24.0
  2022-02-28 23:10:00     24.0
  2022-02-28 23:20:00     24.0
  2022-02-28 23:30:00     24.0
  2022-02-28 23:40:00     24.0

  [4031 rows x 1 columns],
                       in_humi
  time
  2022-02-01 00:00:00     24.0
  2022-02-01 00:10:00     24.0
  2022-02-01 00:20:00     25.0
  2022-02-01 00:30:00     25.0
  2022-02-01 00:40:00     24.0
  ...                      ...
  2022-02-28 23:00:00     21.0
  2022-02-28 23:10:00     21.0
  2022-02-28 23:20:00     21.0
  2022-02-28 23:30:00     21.0
  2022-02-28 23:40:00     21.0

  [4031 rows x 1 columns],
                       in_humi
  time
  2022-02-01 00:00:00     16.0
  2022-02-01 00:10:00     16.0
  2022-02-01 00:20:00     16.0
  2022-02-01 00:30:00     16.0
  2022-02-01 00:40:00     16.0
  ...                      ...
  2022-02-28 23:00:00     20.0
  2022-02-28 23:10:00     20.0
  2022-02-28 23:20:00     20.0
  2022-02-28 23:30:00     20.0
  2022-02-28 23:40:00     20.0

  [4031 rows x 1 columns],
                       in_humi
  time
  2022-02-01 00:00:00     17.0
  2022-02-01 00:10:00     17.0
  2022-02-01 00:20:00     17.0
  2022-02-01 00:30:00     17.0
  2022-02-01 00:40:00     17.0
  ...                      ...
  2022-02-28 23:00:00     20.0
  2022-02-28 23:10:00     20.0
  2022-02-28 23:20:00     20.0
  2022-02-28 23:30:00     20.0
  2022-02-28 23:40:00     20.0

  [4031 rows x 1 columns],
                       in_humi
  time
  2022-02-01 00:00:00     16.0
  2022-02-01 00:10:00     16.0
  2022-02-01 00:20:00     16.0
  2022-02-01 00:30:00     16.0
  2022-02-01 00:40:00     16.0
  ...                      ...
  2022-02-28 23:00:00     19.0
  2022-02-28 23:10:00     19.0
  2022-02-28 23:20:00     19.0
  2022-02-28 23:30:00     19.0
  2022-02-28 23:40:00     19.0

  [4031 rows x 1 columns],
                       in_humi
  time
  2022-02-01 00:00:00     31.0
  2022-02-01 00:10:00     31.0
  2022-02-01 00:20:00     31.0
  2022-02-01 00:30:00     32.0
  2022-02-01 00:40:00     32.0
  ...                      ...
  2022-02-28 23:00:00     32.0
  2022-02-28 23:10:00     32.0
  2022-02-28 23:20:00     32.0
  2022-02-28 23:30:00     32.0
  2022-02-28 23:40:00     32.0

  [4031 rows x 1 columns]],
 'in_co2': [                     in_co2
  time
  2022-02-01 00:00:00   471.0
  2022-02-01 00:10:00   471.0
  2022-02-01 00:20:00   474.0
  2022-02-01 00:30:00   466.0
  2022-02-01 00:40:00   471.0
  ...                     ...
  2022-02-28 23:00:00   489.0
  2022-02-28 23:10:00   482.0
  2022-02-28 23:20:00   492.0
  2022-02-28 23:30:00   483.0
  2022-02-28 23:40:00   487.0

  [4031 rows x 1 columns],
                       in_co2
  time
  2022-02-01 00:00:00   478.0
  2022-02-01 00:10:00   482.0
  2022-02-01 00:20:00   479.0
  2022-02-01 00:30:00   483.0
  2022-02-01 00:40:00   477.0
  ...                     ...
  2022-02-28 23:00:00   473.0
  2022-02-28 23:10:00   469.0
  2022-02-28 23:20:00   476.0
  2022-02-28 23:30:00   470.0
  2022-02-28 23:40:00   473.0

  [4031 rows x 1 columns],
                       in_co2
  time
  2022-02-01 00:00:00   404.0
  2022-02-01 00:10:00   402.0
  2022-02-01 00:20:00   394.0
  2022-02-01 00:30:00   397.0
  2022-02-01 00:40:00   399.0
  ...                     ...
  2022-02-28 23:00:00   392.0
  2022-02-28 23:10:00   402.0
  2022-02-28 23:20:00   405.0
  2022-02-28 23:30:00   398.0
  2022-02-28 23:40:00   395.0

  [4031 rows x 1 columns],
                       in_co2
  time
  2022-02-01 00:00:00   397.0
  2022-02-01 00:10:00   396.0
  2022-02-01 00:20:00   397.0
  2022-02-01 00:30:00   401.0
  2022-02-01 00:40:00   395.0
  ...                     ...
  2022-02-28 23:00:00   404.0
  2022-02-28 23:10:00   418.0
  2022-02-28 23:20:00   404.0
  2022-02-28 23:30:00   408.0
  2022-02-28 23:40:00   407.0

  [4031 rows x 1 columns],
                       in_co2
  time
  2022-02-01 00:00:00   390.0
  2022-02-01 00:10:00   388.0
  2022-02-01 00:20:00   391.0
  2022-02-01 00:30:00   386.0
  2022-02-01 00:40:00   392.0
  ...                     ...
  2022-02-28 23:00:00   576.0
  2022-02-28 23:10:00   561.0
  2022-02-28 23:20:00   545.0
  2022-02-28 23:30:00   537.0
  2022-02-28 23:40:00   524.0

  [4031 rows x 1 columns],
                       in_co2
  time
  2022-02-01 00:00:00   432.0
  2022-02-01 00:10:00   443.0
  2022-02-01 00:20:00   434.0
  2022-02-01 00:30:00   439.0
  2022-02-01 00:40:00   434.0
  ...                     ...
  2022-02-28 23:00:00   433.0
  2022-02-28 23:10:00   434.0
  2022-02-28 23:20:00   434.0
  2022-02-28 23:30:00   432.0
  2022-02-28 23:40:00   432.0

  [4031 rows x 1 columns],
                       in_co2
  time
  2022-02-01 00:00:00   468.0
  2022-02-01 00:10:00   473.0
  2022-02-01 00:20:00   468.0
  2022-02-01 00:30:00   473.0
  2022-02-01 00:40:00   468.0
  ...                     ...
  2022-02-28 23:00:00   475.0
  2022-02-28 23:10:00   475.0
  2022-02-28 23:20:00   471.0
  2022-02-28 23:30:00   466.0
  2022-02-28 23:40:00   468.0

  [4031 rows x 1 columns],
                       in_co2
  time
  2022-02-01 00:00:00   450.0
  2022-02-01 00:10:00   446.0
  2022-02-01 00:20:00   452.0
  2022-02-01 00:30:00   452.0
  2022-02-01 00:40:00   452.0
  ...                     ...
  2022-02-28 23:00:00   425.0
  2022-02-28 23:10:00   421.0
  2022-02-28 23:20:00   420.0
  2022-02-28 23:30:00   425.0
  2022-02-28 23:40:00   419.0

  [4031 rows x 1 columns],
                       in_co2
  time
  2022-02-01 00:00:00   467.0
  2022-02-01 00:10:00   464.0
  2022-02-01 00:20:00   466.0
  2022-02-01 00:30:00   464.0
  2022-02-01 00:40:00   464.0
  ...                     ...
  2022-02-28 23:00:00   457.0
  2022-02-28 23:10:00   459.0
  2022-02-28 23:20:00   458.0
  2022-02-28 23:30:00   461.0
  2022-02-28 23:40:00   460.0

  [4031 rows x 1 columns]],
 'in_voc': [                     in_voc
  time
  2022-02-01 00:00:00   161.0
  2022-02-01 00:10:00   161.0
  2022-02-01 00:20:00   159.0
  2022-02-01 00:30:00   161.0
  2022-02-01 00:40:00   161.0
  ...                     ...
  2022-02-28 23:00:00   198.0
  2022-02-28 23:10:00   193.0
  2022-02-28 23:20:00   192.0
  2022-02-28 23:30:00   187.0
  2022-02-28 23:40:00   185.0

  [4031 rows x 1 columns],
                       in_voc
  time
  2022-02-01 00:00:00   145.0
  2022-02-01 00:10:00   146.0
  2022-02-01 00:20:00   149.0
  2022-02-01 00:30:00   149.0
  2022-02-01 00:40:00   153.0
  ...                     ...
  2022-02-28 23:00:00   136.0
  2022-02-28 23:10:00   131.0
  2022-02-28 23:20:00   121.0
  2022-02-28 23:30:00   112.0
  2022-02-28 23:40:00   106.0

  [4031 rows x 1 columns],
                       in_voc
  time
  2022-02-01 00:00:00   164.0
  2022-02-01 00:10:00   165.0
  2022-02-01 00:20:00     5.0
  2022-02-01 00:30:00     5.0
  2022-02-01 00:40:00     4.0
  ...                     ...
  2022-02-28 23:00:00   128.0
  2022-02-28 23:10:00   126.0
  2022-02-28 23:20:00   122.0
  2022-02-28 23:30:00   117.0
  2022-02-28 23:40:00   113.0

  [4031 rows x 1 columns],
                       in_voc
  time
  2022-02-01 00:00:00     7.0
  2022-02-01 00:10:00     6.0
  2022-02-01 00:20:00     4.0
  2022-02-01 00:30:00     4.0
  2022-02-01 00:40:00     6.0
  ...                     ...
  2022-02-28 23:00:00    97.0
  2022-02-28 23:10:00    94.0
  2022-02-28 23:20:00    10.0
  2022-02-28 23:30:00     8.0
  2022-02-28 23:40:00     4.0

  [4031 rows x 1 columns],
                       in_voc
  time
  2022-02-01 00:00:00    97.0
  2022-02-01 00:10:00   102.0
  2022-02-01 00:20:00   108.0
  2022-02-01 00:30:00   106.0
  2022-02-01 00:40:00   118.0
  ...                     ...
  2022-02-28 23:00:00     8.0
  2022-02-28 23:10:00     6.0
  2022-02-28 23:20:00     7.0
  2022-02-28 23:30:00     7.0
  2022-02-28 23:40:00    18.0

  [4031 rows x 1 columns],
                       in_voc
  time
  2022-02-01 00:00:00    28.0
  2022-02-01 00:10:00    29.0
  2022-02-01 00:20:00    32.0
  2022-02-01 00:30:00    31.0
  2022-02-01 00:40:00    31.0
  ...                     ...
  2022-02-28 23:00:00     4.0
  2022-02-28 23:10:00     4.0
  2022-02-28 23:20:00     6.0
  2022-02-28 23:30:00     4.0
  2022-02-28 23:40:00     5.0

  [4031 rows x 1 columns],
                       in_voc
  time
  2022-02-01 00:00:00    49.0
  2022-02-01 00:10:00    50.0
  2022-02-01 00:20:00    50.0
  2022-02-01 00:30:00    52.0
  2022-02-01 00:40:00    51.0
  ...                     ...
  2022-02-28 23:00:00    10.0
  2022-02-28 23:10:00     5.0
  2022-02-28 23:20:00     6.0
  2022-02-28 23:30:00     5.0
  2022-02-28 23:40:00     6.0

  [4031 rows x 1 columns],
                       in_voc
  time
  2022-02-01 00:00:00    92.0
  2022-02-01 00:10:00    92.0
  2022-02-01 00:20:00    94.0
  2022-02-01 00:30:00    95.0
  2022-02-01 00:40:00    94.0
  ...                     ...
  2022-02-28 23:00:00    64.0
  2022-02-28 23:10:00    59.0
  2022-02-28 23:20:00    53.0
  2022-02-28 23:30:00    48.0
  2022-02-28 23:40:00    45.0

  [4031 rows x 1 columns],
                       in_voc
  time
  2022-02-01 00:00:00   112.0
  2022-02-01 00:10:00   115.0
  2022-02-01 00:20:00   115.0
  2022-02-01 00:30:00   115.0
  2022-02-01 00:40:00   115.0
  ...                     ...
  2022-02-28 23:00:00    65.0
  2022-02-28 23:10:00    65.0
  2022-02-28 23:20:00    65.0
  2022-02-28 23:30:00    64.0
  2022-02-28 23:40:00    51.0

  [4031 rows x 1 columns]],
 'in_noise': [                     in_noise
  time
  2022-02-01 00:00:00      48.0
  2022-02-01 00:10:00      47.0
  2022-02-01 00:20:00      48.0
  2022-02-01 00:30:00      47.0
  2022-02-01 00:40:00      48.0
  ...                       ...
  2022-02-28 23:00:00      47.0
  2022-02-28 23:10:00      47.0
  2022-02-28 23:20:00      47.0
  2022-02-28 23:30:00      47.0
  2022-02-28 23:40:00      47.0

  [4031 rows x 1 columns],
                       in_noise
  time
  2022-02-01 00:00:00      48.0
  2022-02-01 00:10:00      48.0
  2022-02-01 00:20:00      47.0
  2022-02-01 00:30:00      47.0
  2022-02-01 00:40:00      48.0
  ...                       ...
  2022-02-28 23:00:00      48.0
  2022-02-28 23:10:00      48.0
  2022-02-28 23:20:00      47.0
  2022-02-28 23:30:00      48.0
  2022-02-28 23:40:00      48.0

  [4031 rows x 1 columns],
                       in_noise
  time
  2022-02-01 00:00:00      49.0
  2022-02-01 00:10:00      49.0
  2022-02-01 00:20:00      49.0
  2022-02-01 00:30:00      49.0
  2022-02-01 00:40:00      49.0
  ...                       ...
  2022-02-28 23:00:00      48.0
  2022-02-28 23:10:00      48.0
  2022-02-28 23:20:00      48.0
  2022-02-28 23:30:00      48.0
  2022-02-28 23:40:00      47.0

  [4031 rows x 1 columns],
                       in_noise
  time
  2022-02-01 00:00:00      47.0
  2022-02-01 00:10:00      48.0
  2022-02-01 00:20:00      48.0
  2022-02-01 00:30:00      48.0
  2022-02-01 00:40:00      47.0
  ...                       ...
  2022-02-28 23:00:00      46.0
  2022-02-28 23:10:00      47.0
  2022-02-28 23:20:00      47.0
  2022-02-28 23:30:00      46.0
  2022-02-28 23:40:00      47.0

  [4031 rows x 1 columns],
                       in_noise
  time
  2022-02-01 00:00:00      49.0
  2022-02-01 00:10:00      48.0
  2022-02-01 00:20:00      49.0
  2022-02-01 00:30:00      49.0
  2022-02-01 00:40:00      48.0
  ...                       ...
  2022-02-28 23:00:00      49.0
  2022-02-28 23:10:00      49.0
  2022-02-28 23:20:00      49.0
  2022-02-28 23:30:00      49.0
  2022-02-28 23:40:00      49.0

  [4031 rows x 1 columns],
                       in_noise
  time
  2022-02-01 00:00:00      48.0
  2022-02-01 00:10:00      48.0
  2022-02-01 00:20:00      49.0
  2022-02-01 00:30:00      48.0
  2022-02-01 00:40:00      48.0
  ...                       ...
  2022-02-28 23:00:00      49.0
  2022-02-28 23:10:00      48.0
  2022-02-28 23:20:00      48.0
  2022-02-28 23:30:00      48.0
  2022-02-28 23:40:00      48.0

  [4031 rows x 1 columns],
                       in_noise
  time
  2022-02-01 00:00:00      47.0
  2022-02-01 00:10:00      47.0
  2022-02-01 00:20:00      47.0
  2022-02-01 00:30:00      47.0
  2022-02-01 00:40:00      47.0
  ...                       ...
  2022-02-28 23:00:00      47.0
  2022-02-28 23:10:00      47.0
  2022-02-28 23:20:00      47.0
  2022-02-28 23:30:00      47.0
  2022-02-28 23:40:00      47.0

  [4031 rows x 1 columns],
                       in_noise
  time
  2022-02-01 00:00:00      48.0
  2022-02-01 00:10:00      48.0
  2022-02-01 00:20:00      48.0
  2022-02-01 00:30:00      48.0
  2022-02-01 00:40:00      48.0
  ...                       ...
  2022-02-28 23:00:00      48.0
  2022-02-28 23:10:00      48.0
  2022-02-28 23:20:00      48.0
  2022-02-28 23:30:00      48.0
  2022-02-28 23:40:00      48.0

  [4031 rows x 1 columns],
                       in_noise
  time
  2022-02-01 00:00:00      48.0
  2022-02-01 00:10:00      48.0
  2022-02-01 00:20:00      47.0
  2022-02-01 00:30:00      48.0
  2022-02-01 00:40:00      47.0
  ...                       ...
  2022-02-28 23:00:00      47.0
  2022-02-28 23:10:00      48.0
  2022-02-28 23:20:00      47.0
  2022-02-28 23:30:00      47.0
  2022-02-28 23:40:00      47.0

  [4031 rows x 1 columns]],
 'in_pm10': [                     in_pm10
  time
  2022-02-01 00:00:00     33.0
  2022-02-01 00:10:00     32.0
  2022-02-01 00:20:00     33.0
  2022-02-01 00:30:00     33.0
  2022-02-01 00:40:00     33.0
  ...                      ...
  2022-02-28 23:00:00     29.0
  2022-02-28 23:10:00     29.0
  2022-02-28 23:20:00     29.0
  2022-02-28 23:30:00     28.0
  2022-02-28 23:40:00     30.0

  [4031 rows x 1 columns],
                       in_pm10
  time
  2022-02-01 00:00:00     49.0
  2022-02-01 00:10:00     50.0
  2022-02-01 00:20:00     51.0
  2022-02-01 00:30:00     49.0
  2022-02-01 00:40:00     50.0
  ...                      ...
  2022-02-28 23:00:00     26.0
  2022-02-28 23:10:00     27.0
  2022-02-28 23:20:00     24.0
  2022-02-28 23:30:00     24.0
  2022-02-28 23:40:00     24.0

  [4031 rows x 1 columns],
                       in_pm10
  time
  2022-02-01 00:00:00     51.0
  2022-02-01 00:10:00     49.0
  2022-02-01 00:20:00     50.0
  2022-02-01 00:30:00     50.0
  2022-02-01 00:40:00     49.0
  ...                      ...
  2022-02-28 23:00:00     25.0
  2022-02-28 23:10:00     25.0
  2022-02-28 23:20:00     24.0
  2022-02-28 23:30:00     24.0
  2022-02-28 23:40:00     25.0

  [4031 rows x 1 columns],
                       in_pm10
  time
  2022-02-01 00:00:00     53.0
  2022-02-01 00:10:00     54.0
  2022-02-01 00:20:00     55.0
  2022-02-01 00:30:00     54.0
  2022-02-01 00:40:00     51.0
  ...                      ...
  2022-02-28 23:00:00     25.0
  2022-02-28 23:10:00     28.0
  2022-02-28 23:20:00     26.0
  2022-02-28 23:30:00     25.0
  2022-02-28 23:40:00     26.0

  [4031 rows x 1 columns],
                       in_pm10
  time
  2022-02-01 00:00:00     24.0

## 2-4. Split Data by holiday

In [7]:
dataset_result = holiday.get_holidayCycleSet_from_dataset(imputedDataSet, feature_list)

In [8]:
dataset_result

{'in_temp': [{'holiday': [                     in_temp
    time
    2022-02-01 00:00:00      9.0
    2022-02-01 00:10:00      9.1
    2022-02-01 00:20:00      9.0
    2022-02-01 00:30:00      9.1
    2022-02-01 00:40:00      9.1
    ...                      ...
    2022-02-01 23:10:00      7.7
    2022-02-01 23:20:00      7.7
    2022-02-01 23:30:00      7.7
    2022-02-01 23:40:00      7.8
    2022-02-01 23:50:00      7.8

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-02 00:00:00      7.8
    2022-02-02 00:10:00      7.8
    2022-02-02 00:20:00      7.8
    2022-02-02 00:30:00      7.9
    2022-02-02 00:40:00      7.9
    ...                      ...
    2022-02-02 23:10:00      8.4
    2022-02-02 23:20:00      8.4
    2022-02-02 23:30:00      8.4
    2022-02-02 23:40:00      8.4
    2022-02-02 23:50:00      8.5

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-03 00:00:00      8.5
    2022-02-03 00:10:00      8.5
    2022-02-03 00:20:00      8.5
    2022-02-03 00:30:00      8.6
    2022-02-03 00:40:00      8.6
    ...                      ...
    2022-02-03 23:10:00      9.3
    2022-02-03 23:20:00      9.3
    2022-02-03 23:30:00      9.3
    2022-02-03 23:40:00      9.3
    2022-02-03 23:50:00      9.3

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-04 00:00:00      9.3
    2022-02-04 00:10:00      9.2
    2022-02-04 00:20:00      9.3
    2022-02-04 00:30:00      9.3
    2022-02-04 00:40:00      9.3
    ...                      ...
    2022-02-04 23:10:00      9.1
    2022-02-04 23:20:00      9.1
    2022-02-04 23:30:00      9.1
    2022-02-04 23:40:00      9.1
    2022-02-04 23:50:00      9.1

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-05 00:00:00      9.0
    2022-02-05 00:10:00      9.1
    2022-02-05 00:20:00      9.0
    2022-02-05 00:30:00      9.0
    2022-02-05 00:40:00      9.1
    ...                      ...
    2022-02-05 23:10:00      7.9
    2022-02-05 23:20:00      7.8
    2022-02-05 23:30:00      7.9
    2022-02-05 23:40:00      7.8
    2022-02-05 23:50:00      7.8

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-06 00:00:00      7.8
    2022-02-06 00:10:00      7.8
    2022-02-06 00:20:00      7.8
    2022-02-06 00:30:00      7.9
    2022-02-06 00:40:00      7.8
    ...                      ...
    2022-02-06 23:10:00      8.0
    2022-02-06 23:20:00      8.0
    2022-02-06 23:30:00      8.0
    2022-02-06 23:40:00      8.0
    2022-02-06 23:50:00      8.0

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-07 00:00:00      8.1
    2022-02-07 00:10:00      8.1
    2022-02-07 00:20:00      8.1
    2022-02-07 00:30:00      8.1
    2022-02-07 00:40:00      8.1
    ...                      ...
    2022-02-07 23:10:00      8.5
    2022-02-07 23:20:00      8.5
    2022-02-07 23:30:00      8.6
    2022-02-07 23:40:00      8.6
    2022-02-07 23:50:00      8.6

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-08 00:00:00      8.6
    2022-02-08 00:10:00      8.7
    2022-02-08 00:20:00      8.7
    2022-02-08 00:30:00      8.7
    2022-02-08 00:40:00      8.7
    ...                      ...
    2022-02-08 23:10:00      9.6
    2022-02-08 23:20:00      9.5
    2022-02-08 23:30:00      9.5
    2022-02-08 23:40:00      9.6
    2022-02-08 23:50:00      9.5

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-09 00:00:00      9.6
    2022-02-09 00:10:00      9.5
    2022-02-09 00:20:00      9.5
    2022-02-09 00:30:00      9.5
    2022-02-09 00:40:00      9.6
    ...                      ...
    2022-02-09 23:10:00     10.4
    2022-02-09 23:20:00     10.3
    2022-02-09 23:30:00     10.3
    2022-02-09 23:40:00     10.3
    2022-02-09 23:50:00     10.3

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-10 00:00:00     10.4
    2022-02-10 00:10:00     10.4
    2022-02-10 00:20:00     10.4
    2022-02-10 00:30:00     10.4
    2022-02-10 00:40:00     10.4
    ...                      ...
    2022-02-10 23:10:00     11.1
    2022-02-10 23:20:00     11.0
    2022-02-10 23:30:00     11.0
    2022-02-10 23:40:00     11.0
    2022-02-10 23:50:00     11.0

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-11 00:00:00     11.0
    2022-02-11 00:10:00     11.0
    2022-02-11 00:20:00     11.0
    2022-02-11 00:30:00     11.0
    2022-02-11 00:40:00     11.0
    ...                      ...
    2022-02-11 23:10:00     11.4
    2022-02-11 23:20:00     11.3
    2022-02-11 23:30:00     11.3
    2022-02-11 23:40:00     11.4
    2022-02-11 23:50:00     11.4

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-12 00:00:00     11.4
    2022-02-12 00:10:00     11.4
    2022-02-12 00:20:00     11.4
    2022-02-12 00:30:00     11.4
    2022-02-12 00:40:00     11.4
    ...                      ...
    2022-02-12 23:10:00     11.9
    2022-02-12 23:20:00     11.9
    2022-02-12 23:30:00     11.9
    2022-02-12 23:40:00     11.9
    2022-02-12 23:50:00     11.9

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-13 00:00:00     11.9
    2022-02-13 00:10:00     12.0
    2022-02-13 00:20:00     11.9
    2022-02-13 00:30:00     11.9
    2022-02-13 00:40:00     11.9
    ...                      ...
    2022-02-13 23:10:00     11.6
    2022-02-13 23:20:00     11.6
    2022-02-13 23:30:00     11.6
    2022-02-13 23:40:00     11.6
    2022-02-13 23:50:00     11.6

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-14 00:00:00     11.6
    2022-02-14 00:10:00     11.6
    2022-02-14 00:20:00     11.6
    2022-02-14 00:30:00     11.6
    2022-02-14 00:40:00     11.6
    ...                      ...
    2022-02-14 23:10:00     12.1
    2022-02-14 23:20:00     12.1
    2022-02-14 23:30:00     12.1
    2022-02-14 23:40:00     12.1
    2022-02-14 23:50:00     12.2

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-15 00:00:00     12.2
    2022-02-15 00:10:00     12.2
    2022-02-15 00:20:00     12.2
    2022-02-15 00:30:00     12.2
    2022-02-15 00:40:00     12.2
    ...                      ...
    2022-02-15 23:10:00     11.4
    2022-02-15 23:20:00     11.4
    2022-02-15 23:30:00     11.4
    2022-02-15 23:40:00     11.4
    2022-02-15 23:50:00     11.4

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-16 00:00:00     11.4
    2022-02-16 00:10:00     11.5
    2022-02-16 00:20:00     11.4
    2022-02-16 00:30:00     11.4
    2022-02-16 00:40:00     11.4
    ...                      ...
    2022-02-16 23:10:00     10.0
    2022-02-16 23:20:00      9.9
    2022-02-16 23:30:00      9.9
    2022-02-16 23:40:00      9.9
    2022-02-16 23:50:00      9.9

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-17 00:00:00      9.9
    2022-02-17 00:10:00      9.9
    2022-02-17 00:20:00      9.8
    2022-02-17 00:30:00      9.8
    2022-02-17 00:40:00      9.8
    ...                      ...
    2022-02-17 23:10:00      9.6
    2022-02-17 23:20:00      9.5
    2022-02-17 23:30:00      9.5
    2022-02-17 23:40:00      9.5
    2022-02-17 23:50:00      9.5

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-18 00:00:00      9.5
    2022-02-18 00:10:00      9.5
    2022-02-18 00:20:00      9.5
    2022-02-18 00:30:00      9.5
    2022-02-18 00:40:00      9.5
    ...                      ...
    2022-02-18 23:10:00     10.6
    2022-02-18 23:20:00     10.6
    2022-02-18 23:30:00     10.6
    2022-02-18 23:40:00     10.6
    2022-02-18 23:50:00     10.6

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-19 00:00:00     10.7
    2022-02-19 00:10:00     10.7
    2022-02-19 00:20:00     10.6
    2022-02-19 00:30:00     10.7
    2022-02-19 00:40:00     10.7
    ...                      ...
    2022-02-19 23:10:00     10.1
    2022-02-19 23:20:00     10.1
    2022-02-19 23:30:00     10.1
    2022-02-19 23:40:00     10.1
    2022-02-19 23:50:00     10.1

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-20 00:00:00     10.1
    2022-02-20 00:10:00     10.2
    2022-02-20 00:20:00     10.2
    2022-02-20 00:30:00     10.1
    2022-02-20 00:40:00     10.1
    ...                      ...
    2022-02-20 23:10:00      9.5
    2022-02-20 23:20:00      9.5
    2022-02-20 23:30:00      9.5
    2022-02-20 23:40:00      9.5
    2022-02-20 23:50:00      9.5

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-21 00:00:00      9.5
    2022-02-21 00:10:00      9.5
    2022-02-21 00:20:00      9.5
    2022-02-21 00:30:00      9.5
    2022-02-21 00:40:00      9.5
    ...                      ...
    2022-02-21 23:10:00      9.6
    2022-02-21 23:20:00      9.5
    2022-02-21 23:30:00      9.5
    2022-02-21 23:40:00      9.5
    2022-02-21 23:50:00      9.5

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-22 00:00:00      9.5
    2022-02-22 00:10:00      9.5
    2022-02-22 00:20:00      9.6
    2022-02-22 00:30:00      9.5
    2022-02-22 00:40:00      9.6
    ...                      ...
    2022-02-22 23:10:00      9.9
    2022-02-22 23:20:00      9.8
    2022-02-22 23:30:00      9.8
    2022-02-22 23:40:00      9.8
    2022-02-22 23:50:00      9.8

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-23 00:00:00      9.8
    2022-02-23 00:10:00      9.8
    2022-02-23 00:20:00      9.8
    2022-02-23 00:30:00      9.8
    2022-02-23 00:40:00      9.8
    ...                      ...
    2022-02-23 23:10:00      9.8
    2022-02-23 23:20:00      9.7
    2022-02-23 23:30:00      9.7
    2022-02-23 23:40:00      9.7
    2022-02-23 23:50:00      9.7

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-24 00:00:00      9.7
    2022-02-24 00:10:00      9.6
    2022-02-24 00:20:00      9.7
    2022-02-24 00:30:00      9.6
    2022-02-24 00:40:00      9.6
    ...                      ...
    2022-02-24 23:10:00     11.3
    2022-02-24 23:20:00     11.2
    2022-02-24 23:30:00     11.2
    2022-02-24 23:40:00     11.2
    2022-02-24 23:50:00     11.2

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-25 00:00:00     11.2
    2022-02-25 00:10:00     11.3
    2022-02-25 00:20:00     11.2
    2022-02-25 00:30:00     11.3
    2022-02-25 00:40:00     11.3
    ...                      ...
    2022-02-25 23:10:00     13.9
    2022-02-25 23:20:00     13.9
    2022-02-25 23:30:00     13.9
    2022-02-25 23:40:00     13.9
    2022-02-25 23:50:00     13.9

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-26 00:00:00     14.0
    2022-02-26 00:10:00     14.0
    2022-02-26 00:20:00     14.0
    2022-02-26 00:30:00     14.0
    2022-02-26 00:40:00     14.1
    ...                      ...
    2022-02-26 23:10:00     15.2
    2022-02-26 23:20:00     15.1
    2022-02-26 23:30:00     15.1
    2022-02-26 23:40:00     15.1
    2022-02-26 23:50:00     15.1

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-27 00:00:00     15.1
    2022-02-27 00:10:00     15.1
    2022-02-27 00:20:00     15.1
    2022-02-27 00:30:00     15.2
    2022-02-27 00:40:00     15.2
    ...                      ...
    2022-02-27 23:10:00     16.7
    2022-02-27 23:20:00     16.6
    2022-02-27 23:30:00     16.6
    2022-02-27 23:40:00     16.6
    2022-02-27 23:50:00     16.5

    [144 rows x 1 columns]],
   'notholiday': []},
  {'holiday': [                     in_temp
    time
    2022-02-01 00:00:00     21.9
    2022-02-01 00:10:00     21.9
    2022-02-01 00:20:00     22.0
    2022-02-01 00:30:00     22.0
    2022-02-01 00:40:00     22.0
    ...                      ...
    2022-02-01 23:10:00     21.3
    2022-02-01 23:20:00     21.2
    2022-02-01 23:30:00     21.2
    2022-02-01 23:40:00     21.2
    2022-02-01 23:50:00     21.1

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-02 00:00:00     21.1
    2022-02-02 00:10:00     21.1
    2022-02-02 00:20:00     21.1
    2022-02-02 00:30:00     21.1
    2022-02-02 00:40:00     21.1
    ...                      ...
    2022-02-02 23:10:00     21.8
    2022-02-02 23:20:00     21.8
    2022-02-02 23:30:00     21.7
    2022-02-02 23:40:00     21.6
    2022-02-02 23:50:00     21.6

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-03 00:00:00     21.6
    2022-02-03 00:10:00     21.6
    2022-02-03 00:20:00     21.6
    2022-02-03 00:30:00     21.6
    2022-02-03 00:40:00     21.6
    ...                      ...
    2022-02-03 23:10:00     21.8
    2022-02-03 23:20:00     21.7
    2022-02-03 23:30:00     21.7
    2022-02-03 23:40:00     21.6
    2022-02-03 23:50:00     21.6

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-04 00:00:00     21.6
    2022-02-04 00:10:00     21.5
    2022-02-04 00:20:00     21.5
    2022-02-04 00:30:00     21.5
    2022-02-04 00:40:00     21.5
    ...                      ...
    2022-02-04 23:10:00     21.4
    2022-02-04 23:20:00     21.4
    2022-02-04 23:30:00     21.3
    2022-02-04 23:40:00     21.3
    2022-02-04 23:50:00     21.2

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-05 00:00:00     21.2
    2022-02-05 00:10:00     21.2
    2022-02-05 00:20:00     21.2
    2022-02-05 00:30:00     21.1
    2022-02-05 00:40:00     21.1
    ...                      ...
    2022-02-05 23:10:00     20.8
    2022-02-05 23:20:00     20.8
    2022-02-05 23:30:00     20.8
    2022-02-05 23:40:00     20.7
    2022-02-05 23:50:00     20.7

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-06 00:00:00     20.7
    2022-02-06 00:10:00     20.6
    2022-02-06 00:20:00     20.6
    2022-02-06 00:30:00     20.6
    2022-02-06 00:40:00     20.6
    ...                      ...
    2022-02-06 23:10:00     21.1
    2022-02-06 23:20:00     21.1
    2022-02-06 23:30:00     21.0
    2022-02-06 23:40:00     21.0
    2022-02-06 23:50:00     20.9

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-07 00:00:00     20.9
    2022-02-07 00:10:00     20.9
    2022-02-07 00:20:00     20.9
    2022-02-07 00:30:00     20.9
    2022-02-07 00:40:00     20.9
    ...                      ...
    2022-02-07 23:10:00     21.2
    2022-02-07 23:20:00     21.1
    2022-02-07 23:30:00     21.1
    2022-02-07 23:40:00     21.0
    2022-02-07 23:50:00     21.0

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-08 00:00:00     21.0
    2022-02-08 00:10:00     21.0
    2022-02-08 00:20:00     21.0
    2022-02-08 00:30:00     21.0
    2022-02-08 00:40:00     21.0
    ...                      ...
    2022-02-08 23:10:00     21.6
    2022-02-08 23:20:00     21.6
    2022-02-08 23:30:00     21.6
    2022-02-08 23:40:00     21.5
    2022-02-08 23:50:00     21.5

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-09 00:00:00     21.5
    2022-02-09 00:10:00     21.5
    2022-02-09 00:20:00     21.5
    2022-02-09 00:30:00     21.5
    2022-02-09 00:40:00     21.5
    ...                      ...
    2022-02-09 23:10:00     22.9
    2022-02-09 23:20:00     22.8
    2022-02-09 23:30:00     22.7
    2022-02-09 23:40:00     22.7
    2022-02-09 23:50:00     22.6

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-10 00:00:00     22.6
    2022-02-10 00:10:00     22.6
    2022-02-10 00:20:00     22.6
    2022-02-10 00:30:00     22.6
    2022-02-10 00:40:00     22.6
    ...                      ...
    2022-02-10 23:10:00     23.6
    2022-02-10 23:20:00     23.6
    2022-02-10 23:30:00     23.5
    2022-02-10 23:40:00     23.4
    2022-02-10 23:50:00     23.5

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-11 00:00:00     23.4
    2022-02-11 00:10:00     23.3
    2022-02-11 00:20:00     23.3
    2022-02-11 00:30:00     23.3
    2022-02-11 00:40:00     23.3
    ...                      ...
    2022-02-11 23:10:00     24.2
    2022-02-11 23:20:00     24.1
    2022-02-11 23:30:00     24.1
    2022-02-11 23:40:00     24.0
    2022-02-11 23:50:00     24.0

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-12 00:00:00     24.0
    2022-02-12 00:10:00     24.0
    2022-02-12 00:20:00     24.0
    2022-02-12 00:30:00     24.0
    2022-02-12 00:40:00     24.0
    ...                      ...
    2022-02-12 23:10:00     25.0
    2022-02-12 23:20:00     25.0
    2022-02-12 23:30:00     24.9
    2022-02-12 23:40:00     24.9
    2022-02-12 23:50:00     24.8

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-13 00:00:00     24.8
    2022-02-13 00:10:00     24.8
    2022-02-13 00:20:00     24.8
    2022-02-13 00:30:00     24.8
    2022-02-13 00:40:00     24.7
    ...                      ...
    2022-02-13 23:10:00     24.8
    2022-02-13 23:20:00     24.8
    2022-02-13 23:30:00     24.8
    2022-02-13 23:40:00     24.7
    2022-02-13 23:50:00     24.7

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-14 00:00:00     24.6
    2022-02-14 00:10:00     24.6
    2022-02-14 00:20:00     24.6
    2022-02-14 00:30:00     24.6
    2022-02-14 00:40:00     24.6
    ...                      ...
    2022-02-14 23:10:00     23.6
    2022-02-14 23:20:00     23.5
    2022-02-14 23:30:00     23.5
    2022-02-14 23:40:00     23.4
    2022-02-14 23:50:00     23.4

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-15 00:00:00     23.4
    2022-02-15 00:10:00     23.4
    2022-02-15 00:20:00     23.4
    2022-02-15 00:30:00     23.5
    2022-02-15 00:40:00     23.5
    ...                      ...
    2022-02-15 23:10:00     22.5
    2022-02-15 23:20:00     22.4
    2022-02-15 23:30:00     22.4
    2022-02-15 23:40:00     22.3
    2022-02-15 23:50:00     22.3

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-16 00:00:00     22.3
    2022-02-16 00:10:00     22.3
    2022-02-16 00:20:00     22.2
    2022-02-16 00:30:00     22.2
    2022-02-16 00:40:00     22.3
    ...                      ...
    2022-02-16 23:10:00     21.8
    2022-02-16 23:20:00     21.8
    2022-02-16 23:30:00     21.7
    2022-02-16 23:40:00     21.7
    2022-02-16 23:50:00     21.6

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-17 00:00:00     21.6
    2022-02-17 00:10:00     21.6
    2022-02-17 00:20:00     21.5
    2022-02-17 00:30:00     21.5
    2022-02-17 00:40:00     21.5
    ...                      ...
    2022-02-17 23:10:00     21.4
    2022-02-17 23:20:00     21.4
    2022-02-17 23:30:00     21.3
    2022-02-17 23:40:00     21.2
    2022-02-17 23:50:00     21.2

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-18 00:00:00     21.2
    2022-02-18 00:10:00     21.1
    2022-02-18 00:20:00     21.1
    2022-02-18 00:30:00     21.1
    2022-02-18 00:40:00     21.1
    ...                      ...
    2022-02-18 23:10:00     21.4
    2022-02-18 23:20:00     21.3
    2022-02-18 23:30:00     21.3
    2022-02-18 23:40:00     21.3
    2022-02-18 23:50:00     21.3

    [144 rows x 1 columns],
                         in_temp
    time
    2022-02-19 00:00:00     21.2
    2022-02-19 00:10:00     21.2
    2022-02-19 00:20:00     21.2
    2022-02-19 00:30:00     21.3
    2022-02-19 00:40:00     21.3
    ...                      ...
    2022-02-19 23:10:00     22.1
    2022-02-19 23:20:00     22.1
    2022-02-19 23:30:00     22.0
    2022-02-19 23:40:00     21.9
    2022-02-19 23:50:00     21.9


In [11]:
len(dataset_result["in_temp"])

9